footer
  p.info
    a.heart-icon(href='/about#support' title='Help keep the lights on.')
      span Support SassMeister
    a.twitter-icon(href='https://twitter.com/sassmeisterapp' title='Follow @sassmeisterapp')
      span Follow @sassmeisterapp
    a(href='/about' title='About SassMeister')
      span About
  
  p.copyright &copy; 2015 <a href="http://jedfoster.com/">Jed Foster</a> &amp; <a href="http://www.dalesande.com">Dale Sande

