site-header

section
  h3 HTML

  .editor-wrapper(ng-controller='AceHtmlController')
    //- Production debounces with 750
    ui-ace(ng-model='app.html' ng-model-options='{ debounce: 500 }' ng-change='renderHtml(app)' ui-ace='{onLoad: aceLoaded}')


  h3 Input

  .editor-wrapper(ng-controller='AceSassController')
    //- Production debounces with 750
    ui-ace(ng-model='app.sass' ng-model-options='{ debounce: 500 }' ng-change='compile(app)' ui-ace='{onLoad: aceLoaded}')

  h3 Output

  .editor-wrapper(ng-controller='AceCssController')
    ui-ace(ng-model='app.css' ui-ace='{onLoad: aceLoaded, mode: \'css\'}' readonly)

  iframe#rendered-html(sandbox='allow-scripts allow-same-origin' ng-src='{{sandbox}}')

control-panel

