section
  h3 Input

  .editor-wrapper(ng-controller="AceController")
    ui-ace(ng-model='sass' ng-change='compile()' ui-ace='{onLoad: aceLoaded}')

  h3 Output

  .editor-wrapper(ng-controller="AceController")
    ui-ace(ng-model='css' ui-ace='{onLoad: aceLoaded}' readonly)

control-panel

