section
  h3 Input

  .editor-wrapper(ng-controller="AceController")
    ui-ace(ng-model='app.sass' ng-change='compile()' ui-ace='{onLoad: aceLoaded}')

  h3 Output

  .editor-wrapper(ng-controller="AceController")
    ui-ace(ng-model='app.css' ui-ace='{onLoad: aceLoaded, mode: \'css\'}' readonly)

control-panel

