span File
ul.menu-list
  li.menu-list-item(ng-if='showUpdateGist()')
    a(ng-click='updateGist()')
      span Update Gist
      span.hotkey &#8984;S

  li.menu-list-item(ng-if='showSaveGist()')
    a(ng-click='createGist()')
      span Save Gist
      span.hotkey &#8984;S

  li.menu-list-item(ng-if='showForkGist()')
    a(ng-click='forkGist()')
      span Fork Gist
      span.hotkey &#8679;&#8984;S

  li.menu-list-item(ng-if='showLoginToSaveGists()')
    a(href='/authorize' ng-click='login()')
      span Log in with your GitHub account to save gists

  li.menu-list-item(ng-if='showViewOnGitHub()')
    a(ng-href='https://gist.github.com/{{gist.id}}')
      span View on GitHub

  li.menu-list-item
    a(ng-click='reset()')
      span Reset

