// Toadstool comes pre-loaded with a series of pre-developed buttons
// Special thanks to Chad for the work (http://hellohappy.org/css3-buttons/)
// To use, simply uncomment the buttons you want and extend the silent class
// --------------------------------------------------------------------
// Minimal
@import "buttons/minimal_config"; // Minimal config options
@import "stipe/buttons/lib/minimal"; // Sass UI code

// Cupid-green
@import "buttons/cupid_config"; // Minimal config options
@import "stipe/buttons/lib/cupid-green"; // Sass UI code



// buttons
// --------------------------------------------------------------------
//* toadstool buttons */
button, a.button {
	@extend %stipe_buttons; // pre-loaded silent class, I know you want to nuke this!
}