.main_body {
  @extend %stretch;

  width: 100%;
  z-index: 2;
  top: em(60);
  bottom: em(32);
}

.html_input, .html_output {
  @extend %grid_full;

  float: left;
}

html, body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
}

.stretch {
  @extend %stretch;
}

.sash {
  position: absolute;
  z-index: 9999;
  width: 100%;
  height: 0.66667em;
  background-color: #f8f8f8;
  border-top: 1px solid $golf_gray;
  padding-bottom: 0.66667em;
  cursor: ns-resize;
}

#panelswaiting {
  display: none;
}

.panel {
  &:first-child {
    border-left: 0;
  }

  .handle & {
    border-left: 1px solid $golf_gray;
  }
}

.resize {
  cursor: ew-resize;
}

article {
  max-width: 42em;
  margin: 1.5em auto 0;
  
  p {
    font-weight: 200;
  }
}

#rendered-html {
  padding-top: 0.66667em;
}

#sash_cover {
  @extend %stretch;

  z-index: 201;
  display: none;
}