// Grid background for column view
// @import "stipe/grid/debug";



///////// global //////////
pre.prettyprint {
  @extend .example_code;
  padding: em(15);
}

.main_body {
  @extend %grid_12;
}

.sass_input {
  @include grid(6.125, alpha);
  @media #{$mobile} {
    @include grid(4, $grid_context: 4);
  }
}

.css_output {
  @include grid(6.125, omega);
  @media #{$mobile} {
    @include grid(4, $grid_context: 4);
  }
}

.select_container {
  margin: 0 0 em(30) 0;
  float: left;
  width: 100%;
}

.form_control {
  @include grid(4);

  &:last-child {
   @include grid(4.125, omega); 
  }
  &:first-child {
    @include grid(4.125, alpha);
  }
  
  & button[type=submit] {
    display:block;
    margin: 1.2em auto;
  }
}

ol {
  &.linenums {
    margin-left: em(15);
  }
}


footer {
  @extend %grid_12;
  margin-top: em(24);
  border-top: 1px solid $fox_gray;
  padding-top: em(24);
  
  p { font-size: em(15); }
}