.sash {
  position: absolute;
  z-index: 999;

  &.horizontal {
    width: 100%;
    height: 0.66667em;
    background-color: #f8f8f8;
    border-top: 1px solid $golf_gray;
    padding-bottom: 0.66667em;
    cursor: ns-resize;

    #source & {
      background-color: transparent;
    }
  }
  &.vertical {
    height: 100%;
    width: 0.66667em;
    border-left: 1px solid $golf_gray;
    cursor: ew-resize;
  }
}



.resize {
  cursor: ew-resize;
}