body:after {
  content: 'desktop';
  display: none;
  speak: none;

  @media #{$tablet} {
    content: 'tablet';
  }

  @media #{$mobile} {
    content: 'mobile';
  }
}

.swag-promo {
  clear: both;
  height: inherit;
  background-color: $delta_color_india;
  
  a {
    color: darken($delta_color, 15%);
    color: $delta_color;
  }
  
  p {
    font-size: em($heading_4);
    font-weight: 200;
    // clear: both;
  }
  
  h1 {
    font-size: em($heading_1 * 1.5); 
    // float: left;
  }  

  .messenger-message {
    float: left;
  }
  
  .message .messenger-message-inner{
    text-align: left;
  }  

  img {
    float: right;
    width: 40%;
    max-width: 120px;
    margin-left: 0.5em;
    display: inline-block;
    // margin-top: -3em;
    // clear: left;
    
    @each $prefix in $prefix_defaults {
      #{$prefix}border-radius: em(3);
    }
    
    @media #{$mobile} {
      
      display: block;
      float: none;
      width: 100%;
      margin-left: 0;
      margin-bottom: 0.5em;
    }
  }
}
