input[type=text], input[type=password], input[type="date"], select {
	@extend %input_fields;
	height:2.5em;
  border: 1px solid $golf_gray;
}

select, label {
  font-size: em(12, $font-size);
}

label {
	display: block;
  line-height: 1;
	margin-bottom: 0.5em;
  color: $delta_gray;

	@media #{$mobile} {
  	display: none;
	}
}

input, textarea, button {
  font-family: $monospace-font-family;
}