input[type=text], input[type=password], input[type="date"], select {
	@extend %input_fields;	
}

input[type=text], input[type=password], input[type="date"] {
	@media #{$mobile} {
		-webkit-appearance: none;  // this is to remove the default inner shadow
		-moz-appearance: none; // if this ever works, Moz bug for over a year
	}
	
}

input[disabled], textarea[disabled], select[disabled], .disabled {
	@extend %disabled_inputs;
}

select {
  font-size: em(12, $font-size);
}

label {
	@extend %form_labels;
	@media #{$mobile} {
  	font-size: em(12);
	}
}

label {
  margin-bottom: 0.5em;
  &[for=sass] {
    @extend label;
  }
}

input, select, textarea, button {
  font-family: monospace, sans-serif;
}

textarea {
  border: 1px solid $delta_gray;  
  @include border_radius(em(5));
  padding:0.5em;
  font-size:1em;
  line-height: 1.5em;
  font-family: monospace, sans-serif;
  margin-bottom: em(30);
  @include grid(6.25, alpha, $grid_context: 6);
  outline: none;
  &[name=sass] {
    height: em(375);
    @media #{$mobile} {
      height: em(150);
    }
  }
}

select[disabled],input[disabled] {
  display: none;
}

pre {
  &.prettyprint {
    margin: 0px !important; 
    width: 100% !important;
// <<<<<<< HEAD
    height: em(695);
// =======
    // height: em(480 + 65 + 60 + 44 + 50);
// >>>>>>> cf88d7dbdbdd385e7fe47e65838dcf75cfbae6c7
    overflow-y: auto;
    @media #{$mobile} {
      height: em(480);
    }
  }
}