@import "stipe/color/default_color_palette";


// *-------------------------------------------------------------------------------
// *
// *	HTML5 Reset :: style.css
// *	----------------------------------------------------------
// *	We have learned much from/been inspired by/taken code where offered from:
// *	
// *	Eric Meyer					:: http://ericmeyer.com
// *	HTML5 Doctor				:: http://html5doctor.com
// *	and the HTML5 Boilerplate	:: http://html5boilerplate.com
// *	
// *	Mods by Dale Sande			:: toadstool awesome
// *	
// *-------------------------------------------------------------------------------


// * Let's default this puppy out
// *-------------------------------------------------------------------------------

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, code, em, img, ins, strong, sub, sup, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, article, aside, footer, header, hgroup, menu, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
}

html, body {
  height: 100%;
}

* {
  @include box-sizing;
}

body {
	font-size: 100%;
	-webkit-font-smoothing: antialiased;
}

article, aside, footer, header, hgroup, nav, section {
	display: block;
}

// img, object, embed {
//  max-width: 100%;
// }
// 
// img {
//  border-style: none;
//  border-color: transparent;
//  border-width: 0;
// }

ol, ul {
	list-style: none;
}

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	&:focus {
		text-decoration: underline ;
		outline: none;
	}
}

pre {
	white-space: pre-wrap;
	word-wrap: break-word;
}

// input {
//  &[type="radio"] {
//    vertical-align: text-bottom;
//  }
// }

// input, textarea, select, button {
//  font-family: inherit;
//  font-weight: inherit;
//  background-color: #fff;
//  border: 0;
//  padding: 0;
//  margin: 0;
// }

// table {
//  font-size: inherit;
//  font: 100%;
// }

pre, code, kbd, samp {
	font-family: monospace, sans-serif;
}

// input {
//  &[type=button], &[type=submit] {
//    cursor: pointer;
//  }
// }

// button {
//  cursor: pointer;
//  margin: 0;
//  width: auto;
//  overflow: visible;
// }

// a.button {
//  display: inline-block;
// }

a {
	-webkit-tap-highlight-color: $webkit_tap_hightlight;
}
	
::selection {
	background: $selection_color;
	color: $selection_text_color;
}

::-moz-selection {
	background: $selection_color;
	color: $selection_text_color;
}
