<select name="version" class="fancy_dropdown">
<% compilers.keys.sort.reverse.each do |key| %>
  <option value="<%= key %>"><%= compilers[key][:engine] %> <%= compilers[key][:sass] %></option>
<% end %>
</select>

