<ul id="control_actions">

  <li>Panel arrangement
    <ul style="padding-left: 2em;">
      <li><a class="orientation" data-orientation="horizontal">Code on top</a></li>
      <li><a class="orientation" data-orientation="vertical">Code on left</a></li>
    </ul>
  </li>

</ul>