<ul id="control_actions">
  <!-- <li>
    <a href="#" id="toggle_css" data-state="hide"><span class="alt">Hide CSS</span></a>
  </li> -->

  <li>
    <a href="#" id="toggle_html" data-state="hide"><span class="alt">Hide HTML</span></a>
  </li>

  <!-- <li>
    <a href="#" id="toggle_result" data-state="hide"><span class="alt">Hide Result</span></a>
  </li> -->

  <!-- <li>Panel arrangement
    <ul style="padding-left: 2em;">
      <li><a class="orientation" data-orientation="horizontal">Code on top</a></li>
      <li><a class="orientation" data-orientation="vertical">Code on left</a></li>
    </ul>
  </li> -->

</ul>