<div id="control-column">
  <a class="control-icon"></a>

  <div class="control-container promo">
    <fieldset>
      <h2>Sass</h2>

      <fieldset data-event-name="SassVersion">
        <h3 class="version">Compiler</h3>

        <select name="version" class="fancy_dropdown">
          <option value="lib">LibSass 2.0.0</option>
          <option value="3.4">3.4.0.rc.2</option>
          <option value="3.3">3.3.12</option>
          <option value="3.2">3.2.19</option>
        </select>
      </fieldset>



      <h3 class="syntax">Syntax</h3>

      <fieldset class="syntax-toggle-group" data-event-name="SassSyntax">
        <input type="radio" name="syntax" value="scss" id="syntax-scss">
        <label for="syntax-scss" data-toggle-input="sass">SCSS</label>

        <input type="radio" name="syntax" value="sass" id="syntax-sass">
        <label for="syntax-sass" data-toggle-input="sass">Sass</label>

        <span></span>
      </fieldset>

      <div id="extension_list">
        <h3 class="selected">Extensions <i>(Inserted at cursor)</i></h3>
        
        <ol>
        </ol>
      </div>
    </fieldset>

    <fieldset>
      <h2>CSS</h2>

      <fieldset class="output-toggle-group" data-event-name="CSSOutput">
        <input type="radio" name="output-style" value="expanded" id="expanded-output">
        <label for="expanded-output" data-toggle-input="css">expanded</label>

        <input type="radio" name="output-style" value="nested" id="nested-output">
        <label for="nested-output" data-toggle-input="css">nested</label>

        <input type="radio" name="output-style" value="compact" id="compact-output">
        <label for="compact-output" data-toggle-input="css">compact</label>

        <input type="radio" name="output-style" value="compressed" id="compressed-output">
        <label for="compressed-output" data-toggle-input="css">compressed</label>

        <span></span>
      </fieldset>

      <p class="libsass-output-note">Note: LibSass currently only supports <code>nested</code> and <code>compressed</code> output. See <a href="https://github.com/hcatlin/libsass/issues/233">this issue</a> for details.</p>
    </fieldset>

    <fieldset>
      <h2>HTML</h2>

      <fieldset class="html-toggle-group" data-event-name="HTMLSyntax">
        <input type="radio" name="html-syntax" value="HTML" id="html-html">
        <label for="html-html" data-toggle-input="html">HTML</label>

        <input type="radio" name="html-syntax" value="Haml" id="html-haml">
        <label for="html-haml" data-toggle-input="html">Haml</label>

        <input type="radio" name="html-syntax" value="Markdown" id="html-mkdn">
        <label for="html-mkdn" data-toggle-input="html">Markdown</label>

        <input type="radio" name="html-syntax" value="Textile" id="html-txtl">
        <label for="html-txtl" data-toggle-input="html">Textile</label>

        <input type="radio" name="html-syntax" value="Jade" id="html-jade">
        <label for="html-jade" data-toggle-input="html">Jade</label>

        <span></span>
        <span></span>
      </fieldset>
    </fieldset>

    <fieldset class="edit-prefs">
      <h2>Editor</h2>



      <fieldset>
        <h3 class="theme">Theme</h3>
        <p>
          <select name="theme" class="fancy_dropdown">
            <option value="tomorrow">Tomorrow</option>
            <option value="dawn">Dawn</option>
            <option value="github">GitHub</option>
            <option value="kuroir">Kuroir</option>
            <option value="solarized-light">Solarized Light</option>
            <option value="merbivore-soft">Merbivore Soft</option>
            <option value="monokai">Monokai</option>
            <option value="solarized-dark">Solarized Dark</option>
            <option value="tomorrow-night-eighties">Tomorrow Night Eighties</option>
          </select>
        </p>
        <p>
          <input type="checkbox" name="emmet" id="enable-emmet" value="true">
          <label for="enable-emmet">Enable Emmet support</label>
        </p>
        <p>
          <input type="checkbox" name="vim" id="enable-vim" value="true">
          <label for="enable-vim">Use Vim keybindings</label>
        </p>
      </fieldset>
    </fieldset>
  </div>

  <div id="promo">
    <section class="swag-promo">
      <a href="http://devswag.com/products/sassmeister-stickers-4" class="swag-promo">
        <h1>SassMeister Stickers</h1>
        <p><%= image_tag 'sassmeister-detail-v02_medium.jpg' %> Get sweet, sassy stickers &amp; help support SassMeister.</p>
      </a>
    </section>
  </div>
</div>

<div id="control-column-bg"></div>
