<div class="css_output">
  <div class="edit_container">
    <div class="edit-header">
      <h2>CSS</h2>
      
      <div class="controls">
        <label></label>

        <menu>
          <div class="panel-toggle">
            <h3>Output</h3>

            <ul>
              <li><span data-toggle-input="css">expanded</span></li>
              <li><span data-toggle-input="css">nested</span></li>
              <li><span data-toggle-input="css">compact</span></li>
              <li><span data-toggle-input="css">compressed</span></li>
            </ul>
          </div>
        </menu>
      </div>


      


    </div>

    <div class="pre_container">
      <pre id="css"></pre>
    </div>
  </div>
</div>
