<footer>
  <p class="built-by">
    <%= "Built by <a href=\"https://github.com/#{@gist[:gist_owner]}\">#{@gist[:gist_owner]}</a>" if @gist[:gist_owner] %>
  </p>

  <p class="app-link"><span class="cta">Play with Sass at</span> <a href="http://sassmeister.com" class="logo" title="The sassiest way to play with Sass, Compass, &amp; LibSass!"><span class="alt">SassMeister</span></a></p>
</footer>
