<footer>
  <p class="built-by">
    <%= "Built by <a href=\"https://github.com/#{@gist[:owner]}\">#{@gist[:owner]}</a>" if @gist[:owner] %>
  </p>

  <p class="app-link"><a href="http://sassmeister.com/gist/<%= @gist[:gist_id] %>"><span class="cta">Play with this gist on</span> <span class="logo" title="The sassiest way to play with Sass, Compass, &amp; LibSass!"><span class="alt">SassMeister</span></span></a></p>
</footer>
