<footer>
  <p class="info">
    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=ELKSDTCSVYM3Y" title="Help keep the lights on." class="paypal-icon"><span>Support SassMeister</span></a>
    <a href="https://twitter.com/sassmeisterapp" title="Follow @sassmeisterapp" class="twitter-icon"><span>Follow @sassmeisterapp</span></a>
    <a href="/about" title="About SassMeister"><span>About</span></a>
  </p>
  
  <p class="copyright">&copy; <%=DateTime.now.year%> <a href="http://jedfoster.com/">Jed Foster</a> &amp; <a href="http://www.dalesande.com">Dale Sande</a></p>
</footer>