<footer class="site_footer">
  <div class="footer_container" id="footer">    
    <p>SassMeister is a playground for <a href="http://sass-lang.com">Sass</a>. Add some Sass and SassMeister will show you the rendered CSS. SassMeister supports both <a href="http://thesassway.com/articles/sass-vs-scss-which-syntax-is-better">Sass and SCSS syntaxes</a> and all <a href="http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#output_style">output styles</a>.
    <p><b>Available extensions:</b> <a href="http://thoughtbot.com/bourbon/">Bourbon</a>, <a href="https://github.com/canarymason/breakpoint">Breakpoint</a>, <a href="http://compass-style.org">Compass</a>, <a href="http://jaredhardy.com/sassy-buttons/">Sassy Buttons</a>, <a href="https://github.com/scottkellum/singularity">Singularity.gs</a>, <a href="https://github.com/Anotheruiguy/stipe">Stipe</a>, <a href="http://susy.oddbird.net">Susy</a></p> 
    <p>A <a href="http://www.meetup.com/SASSlang/">Seattle Sass Meetup</a> presentation by <a href="https://peepcode.com">PeepCode Screencasts</a> inspired the name.</p>
    

  </div>
  
  <p>SassMeister is &copy; 2012 <a href="http://jedfoster.com/">Jed Foster</a> and <a href="http://www.dalesande.com">Dale Sande</a>. </p>
</footer>