<footer class="site_footer">
  <p>SassMeister is &copy; <%=DateTime.now.year%> <a href="http://jedfoster.com/">Jed Foster</a> and <a href="http://www.dalesande.com">Dale Sande</a>. <br />
    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=ELKSDTCSVYM3Y" title="Help keep the lights on." class="paypal-icon"><span class="">Support SassMeister</span></a></p>
</footer>