<footer class="site_footer">
  <div class="footer_container" id="footer">
    <p>SassMeister is a playground for <a href="http://sass-lang.com">Sass</a>. Add some Sass and SassMeister will show you the rendered CSS. SassMeister supports both <a href="http://thesassway.com/articles/sass-vs-scss-which-syntax-is-better">Sass and SCSS syntaxes</a>, all <a href="http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#output_style">output styles</a>, and a growing number of <a href="http://compass-style.org/">Compass</a> extensions and Sass libraries. Current extensions are: 
    <% 
      links = Array.new()
      @plugins.each do |plugin, info|
        links.push("<a href=\"#{info[:url]}\">#{plugin}<a>")
      end 
    %><%=links.to_sentence%></p>

    <p>SassMeister is a project of <a href="http://jedfoster.com/">Jed Foster</a> and <a href="http://www.dalesande.com">Dale Sande</a>, who hope that the Sass community will find it useful. A <a href="http://www.meetup.com/SASSlang/">Seattle Sass Meetup</a> presentation by <a href="https://peepcode.com">PeepCode Screencasts</a> inspired the name.</p>
    <p>This app is hosted on <a href="http://www.heroku.com">Heroku</a>, which isn't free; if you find SassMeister useful, please consider making a small <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=ELKSDTCSVYM3Y">monetary show of support</a>. Pull requests are always welcome. If there's a Compass extension or Sass library you'd like to see included <a href="https://github.com/jedfoster/SassMeister/issues/2">let us know</a>.</p>
</div>

  <p>SassMeister is &copy; <%=DateTime.now.year%> <a href="http://jedfoster.com/">Jed Foster</a> and <a href="http://www.dalesande.com">Dale Sande</a>. </p>
</footer>