<header class="site_header">
  
  <div class="header_container">
    <div class="logoBox">
      <a href="/" class="logo" title="SassMeister is the most kick ass way to play with Sass!"><span class="alt">SassMeister is the most kick ass way to play with Sass!</span></a>

      <ul class="social_links">
        <li><a href="#" title="About SassMeister" class="info-icon" id="info"><span class="alt">About SassMeister</span></a></li>
        <li><a href="https://github.com/jedfoster/SassMeister" class="github-icon" title="Fork this project on Github"><span class="alt">Fork this project on Github</span></a></li>
        <li><a href="https://twitter.com/sassmeisterapp" title="Follow @sassmeisterapp on Twitter" class="twitter-icon"><span class="alt">Follow @sassmeisterapp on Twitter</span></a></li>
        <li><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=ELKSDTCSVYM3Y" title="Like SassMeister? Help keep the lights on." class="paypal-icon"><span class="alt">Like SassMeister? Help keep the lights on.</span></a></li>
        
        
        
        <% if @github.authenticated? && session[:github_id] %>
          <li><a title="Logged in as <%=session[:github_id]%>"><img src="http://www.gravatar.com/avatar/<%=session[:gravatar_id]%>?s=80" alt="" height="40"></a></li>
                    
        <% else %>
          <li><a href="/authorize" class="github-login" title="Login with Github" id="github-auth"><span class="alt">Login with Github</a></li>
            
        <% end %>
      </ul>
    </div>
  </div>
</header>