<header class="site_header">
  
  <div class="header_container">
    <div class="logoBox">
      <a href="https://github.com/jedfoster/SassMeister" class="logo"><span class="alt">SassMeister is the most kick ass way to play with Sass!</span></a>
      <div class="social_links">
        <a href="https://github.com/jedfoster/SassMeister" class="github-icon" title="Fork me at Github"><span class="alt">GitHub</span></a>
        <a href="https://twitter.com/sassmeisterapp" title="Follow me at Twitter" class="twitter-icon"><span class="alt">Twitter</span></a>
        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=ELKSDTCSVYM3Y" title="You like SassMeister? Thinking of donating?" class="paypal-icon"><span class="alt">PayPal</span> <!-- span>Support SassMeister</span --></a>
        <a href="/authorize" class="github-login" title="Login with Github" id="github-auth"></a>
      </div>
    </div>
  </div>
</header>