<header class="site_header">
  <div class="header_container">
    <div class="logo">
      SassMeister is the most kick ass way to play with Sass!
    </div>
    <div class="header_description">
      <p>SassMeister is a playground for <a href="http://sass-lang.com">Sass</a>. Add some Sass and SassMeister will show you the rendered CSS. SassMeister supports both <a href="http://thesassway.com/articles/sass-vs-scss-which-syntax-is-better">Sass and SCSS syntaxes</a> and all <a href="http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#output_style">output styles</a>.
      <p><b>Available extensions:</b><br>
      <a href="http://thoughtbot.com/bourbon/">Bourbon</a>, <a href="https://github.com/canarymason/breakpoint">Breakpoint</a>, <a href="http://compass-style.org">Compass</a>, <a href="http://jaredhardy.com/sassy-buttons/">Sassy Buttons</a>, <a href="https://github.com/Anotheruiguy/stipe">Stipe</a>, <a href="http://susy.oddbird.net">Susy</a> ... and of course, vanilla Sass. <br>COMING SOON - <a href="http://foundation.zurb.com">Foundation 3</a></p>
    </div>
  </div>
</header>