<header class="site_header">
  <div class="header_container">
    <div class="logo">
      SassMeister is the most kick ass way to play with Sass! 
    </div>
    <div class="header_description">
      <p>SassMeister is a playground for <a href="http://sass-lang.com" target="_blank">Sass</a>. Add some Sass and SassMeister will show you the rendered CSS. SassMeister supports both <a href="http://thesassway.com/articles/sass-vs-scss-which-syntax-is-better">Sass and SCSS syntax</a> and <a href="http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#output_style">output styles</a>. 
      <p><b>Available extensions/libraries:</b><br>
      <a href="http://thoughtbot.com/bourbon/" target="_blank">Bourbon</a>, <a href="http://compass-style.org" target="_blank">Compass</a>, <a href="https://github.com/Anotheruiguy/stipe" target="_blank">Stipe</a> ... and of course, vanilla Sass. <br><a href="http://foundation.zurb.com" target="_blank">Foundation 3</a> - COMING SOON</i></p>
    </div>
  </div>
</header>