<form action="/compile-html" method="post" accept-charset="utf-8" class="html_input" id="html-form">
  <div class="controls">
    <div class="form_control">
      <select name="html-syntax" data-original="">
        <option value="haml">Haml (Ruby interpretation (with = & -) is disabled)</option>
        <option value="slim">Slim</option>
        <option value="markdown">Markdown</option>
        <option value="textile">Textile</option>
      </select>
    </div>
  </div>

  <div class="edit_container">
    <h2 class="edit-header">HTML</h2>

    <div class="pre_container">
      <pre id="html"></pre>
    </div>
  </div>
</form>

