<div class="edit_container">
  <div class="edit-header">
    <h2>HTML</h2>
    
    <div class="controls">
      <label></label>

      <menu>
        <div class="panel-toggle">
          <span id="html-syntax" class="selected"></span>

          <ul>
            <li><span data-toggle-input="html">HTML</span></li>
            <li><span data-toggle-input="html">Haml</span></li>
            <li><span data-toggle-input="html">Markdown</span></li>
            <li><span data-toggle-input="html">Textile</span></li>
          </ul>
        </div>
      </menu>
    </div>
    
    
    
    


  </div>

  <div class="pre_container">
    <pre id="html"></pre>
  </div>
</div>
