<div class="edit_container">
  <div class="editor-header">
    <h2 class="html-syntax-display">HTML</h2>
  </div>

  <div class="editor-mask">
    <div class="editor-wrapper">
      <div class="editor" id="html"></div>
    </div>
  </div>
</div>
