<div class="edit_container">
  <div class="edit-header">

    <div id="" class="panel-toggle">
      <span id="html-syntax" class="selected"></span>

      <ul>
        <li><span data-toggle-value="HTML" data-toggle-input="html.syntax">HTML</span></li>
        <li><span data-toggle-value="Haml" data-toggle-input="html.syntax">Haml</span></li>
        <li><span data-toggle-value="Markdown" data-toggle-input="html.syntax">Markdown</span></li>
        <li><span data-toggle-value="Textile" data-toggle-input="html.syntax">Textile</span></li>
      </ul>
    </div>

    <div class="visibility-toggle"></div>
  </div>

  <div class="pre_container">
    <pre id="html"></pre>
  </div>
</div>
