<div class="edit_container">
  <div class="editor-header">
    <h2 id="sass-syntax-display">Sass</h2>
  </div>

  <div class="editor-mask">
    <div class="editor-wrapper">
      <div class="editor" id="sass"></div>
    </div>
  </div>
</div>
