<div class="sass_input">
  <h2 class="labels">Sass <span class="alt">becomes</span></h2>
  
  <form action="/compile" method="post" accept-charset="utf-8" id="sass-form">
    <div class="edit_container">
      <pre id="sass"></pre>
    </div>
  </form>
</div>
