<form action="/compile" method="post" accept-charset="utf-8" class="sass_input" id="sass-form">
  <div class="edit_container">
    <div class="edit-header">

      <span class="syntax-toggle scss" data-syntax="scss">SCSS</span>
      <span class="syntax-toggle sass" data-syntax="sass">Sass</span>

    </div>

    <div class="pre_container">
      <pre id="sass"></pre>
    </div>
  </div>
</form>

