<div class="css_output">
  <div class="edit_container">
    <div class="edit-header">
      <h2 class="label-bravo">CSS</h2>
      <a href="#" class="settings-icon" id="output-settings-toggle"><span class="alt">Settings</span></a>
    </div>

    <div id="output-options" class="select_container" style="display:none;">
      <p>
        <% if @github.authenticated? %>
          <a href="#" class="github-icon-2 button" id="gist-it"> <span>Save as New Gist</span></a>

          <a href="#" class="github-icon-4 button" id="gist-edit"<%= 
          if ! session[:gist] 
            ' style="display:none"' 
          end%>> <span>Update Previous Gist</span></a>


        <% else %>
          <a href="/authorize" class="github-icon-2 button" id="github-auth"> <span>Login with GitHub</span></a>
        
          <a href="#" class="star-icon button" id="gist-it"> <span>Save an anonymous Gist</span></a>
        
        <% end %>
      </p>
    </div>

    <div class="pre_container">
      <pre id="css"></pre>
    </div>
  </div>
</div>