<div class="css_output">
  <div class="edit_container">
    <div class="edit-header">
      <h2 class="label-bravo">CSS</h2>
      <a href="" class="settings-icon" id="settings-toggle"><span class="alt">Settings</span></a>
    </div>
    
    <div class="pre_container">
      <pre id="css"></pre>
    </div>
  </div>
</div>