<div class="css_output">
  <div class="edit_container">
    <div class="edit-header">

      CSS

      <span class="output-toggle expanded" data-syntax="expanded">expanded</span>
      <span class="output-toggle nested" data-syntax="nested">nested</span>
      <span class="output-toggle compact" data-syntax="compact">compact</span>
      <span class="output-toggle compressed" data-syntax="compressed">compressed</span>

    </div>

    <div class="pre_container">
      <pre id="css"></pre>
    </div>
  </div>
</div>