<div class="sass_input">
  <form action="/compile" method="post" accept-charset="utf-8" id="sass-form">
    <div class="select_container">
      <div class="form_control">
        <label for="syntax">Syntax</label>
        <select name="syntax">
          <option value="scss">SCSS</option>
          <option value="sass">Sass</option>
        </select>
      </div>

      <div class="form_control">
        <label for="plugin">Extension</label>
        <select name="plugin">
          <option value="">straight-up Sass</option>
          <option value=""></option>          
          <% @plugins.each do |plugin| %>
            <option value="<%=plugin.first%>"><%=plugin.first.capitalize%></option>
          <% end %>
        </select>
      </div>

      <div class="form_control">
        <label for="output">Output Style</label>
        <select name="output">
          <option value="expanded">expanded</option>
          <option value="nested">nested</option>
          <option value="compact">compact</option>
          <option value="compressed">compressed</option>
        </select>
      </div>
    </div>
    <textarea name="sass" id="sass" placeholder="body { foo: bar; }"></textarea>
    <p><button type="submit"><%=@submit_text%></button></p>
  </form>
</div>
