<div class="css_output">
  <div class="controls">
   
    
    
    <% if @github.authenticated? %>
      <a href="#" class="cloud-up-icon button-" id="gist-it" data-gist-save="<%= if session[:gist] then 'edit' end %>"> <span>Save as Gist</span></a>
    <% end %>
    
    
     <a href="#" class="reset-icon" id="reset"> Reset</a>
  </div>

  <div class="edit_container">
    <h2 class="edit-header">CSS</h2>

    <div class="pre_container">
      <pre id="css"></pre>
    </div>
  </div>
</div>