<div class="sass_input" id="sass-form">
  <div class="edit_container">
    <div class="edit-header">
      <h2><span id="syntax" class="selected"></span></h2>

      <div class="controls">
        <label></label>

        <menu>
          <div id="sass-syntax-toggle" class="panel-toggle">
            <h3>Syntax</h3>


            <ul>
              <li><span data-toggle-input="sass">SCSS</span></li>
              <li><span data-toggle-input="sass">Sass</span></li>
            </ul>
          </div>

          <div id="extension_list"></div>
        </menu>
      </div>


    </div>

    <div class="pre_container">
      <pre id="sass"></pre>
    </div>
  </div>
</div>

