<div class="sass_input" id="sass-form">
  <div class="edit_container">
    <div class="edit-header">

      <div class="panel-toggle">
        <span id="syntax" class="selected"></span>

        <ul>
          <li><span data-toggle-input="sass">SCSS</span></li>
          <li><span data-toggle-input="sass">Sass</span></li>
        </ul>
      </div>

      <div id="extension_list">
        <span class="selected">Extensions</span>
        <ul>
          <li>
            Sass&nbsp;&nbsp;(v<%= Gem.loaded_specs["sass"].version %>)

            <ol>
              <% @plugins.each do |plugin| %>
                <li><a data-import="<%= plugin.last[:import].to_s.gsub(/(\"|\[|\]|\s*)/, '') %>" data-version=""><%=plugin.first %></a>&nbsp;&nbsp;(v<%=plugin.last[:version]%>)</li>
              <% end %>
            </ol>

            <i>(Will be inserted at cursor)</i>
          </li>
        </ul>
      </div>
    </div>

    <div class="pre_container">
      <pre id="sass"></pre>
    </div>
  </div>
</div>

