<div class="css_output">
  <div class="controls">
    <% if @github.authenticated? %>
      <% if session[:gist] %>
        <a href="#" class="github-icon-4 button" id="gist-edit"> <span>Update Previous Gist</span></a>
      <% end %>

      <a href="#" class="github-icon-2 button" id="gist-it"> <span>Save as New Gist</span></a>
    <% end %>
  </div>

  <div class="edit_container">
    <h2 class="edit-header">CSS</h2>

    <div class="pre_container">
      <pre id="css"></pre>
    </div>
  </div>
</div>