<div class="sass_input" id="sass-form">
  <div class="edit_container">
    <div class="edit-header">

      <div id="sass-syntax-toggle" class="panel-toggle">
        <span id="syntax" class="selected"></span>

        <ul>
          <li><span data-toggle-input="sass">SCSS</span></li>
          <li><span data-toggle-input="sass">Sass</span></li>
        </ul>
      </div>

      <div id="extension_list"></div>
    </div>

    <div class="pre_container">
      <pre id="sass"></pre>
    </div>
  </div>
</div>

