<div class="css_output">
  <div class="edit_container">
    <div class="edit-header">

      <div id="" class="panel-toggle">
        CSS (<span id="output" class="selected"></span>)
      
        <ul>
          <li><span data-toggle-value="expanded">expanded</span>    </li>
          <li><span data-toggle-value="nested">nested</span>        </li>
          <li><span data-toggle-value="compact">compact</span>      </li>
          <li><span data-toggle-value="compressed">compressed</span></li>
        </ul>
      </div>

    </div>

    <div class="pre_container">
      <pre id="css"></pre>
    </div>
  </div>
</div>