fieldset(data-event-name='SassVersion')
  label(ng-repeat="compiler in compilers")
    input(type='radio' name='compiler' ng-model='app.compiler' ng-value='compiler.value')
    | {{compiler.option}}

fieldset.syntax-toggle-group(data-event-name='SassSyntax')
  label
    input#syntax-scss(type='radio' name='syntax' value='scss' ng-model='app.syntax' ng-change='convert(app)')
    | SCSS

  label
    input#syntax-sass(type='radio' name='syntax' value='sass' ng-model='app.syntax' ng-change='convert(app)')
    | Sass


div#extension_list
  p selected Extensions

  ol
    //- Per http://www.alexkras.com/11-tips-to-improve-angularjs-performance/
    //- `::` is one-time binding
    li(ng-repeat='(name, extension) in extensions')
      a(href='#' data-import='{{::extension.import}}' ng-click='insertImport(extension.import, app)') {{::name}}
      | &nbsp;&nbsp;(v{{::extension.version}})


fieldset.output-toggle-group(data-event-name='CSSOutput')
  label
    input#expanded-output(type='radio' name='output-style' value='expanded' ng-model='app.outputStyle' ng-change='compile(app)')
    | expanded

  label
    input#nested-output(type='radio' name='output-style' value='nested' ng-model='app.outputStyle' ng-change='compile(app)')
    | nested

  label
    input#compact-output(type='radio' name='output-style' value='compact' ng-model='app.outputStyle' ng-change='compile(app)')
    | compact

  label
    input#compressed-output(type='radio' name='output-style' value='compressed' ng-model='app.outputStyle' ng-change='compile(app)')
    | compressed


fieldset
  p
    label
      input#enable-autoprefixer(type='checkbox' name='autoprefixer' value='true' ng-model='preferences.autoprefixer')
      | Autoprefixer
    //- a(href='https://github.com/postcss/autoprefixer' target='_blank') (?)

  span.ap-browsers(ng-if='autoprefixer')
    label
      | Browsers:
      input#autoprefixer-browsers(name='autoprefixerBrowsers' placeholder='Example: > 1%, last 2 versions' ng-model='preferences.autoprefixerBrowsers' ng-model-options='{ debounce: 500 }' ng-change='compile(app)')
    //- a(href='https://github.com/ai/browserslist#queries' target='_blank') (?) 


fieldset.html-toggle-group(data-event-name='HTMLSyntax')
  label
    input#html-html(type='radio' name='html-syntax' value='html' ng-model='app.htmlSyntax' ng-change='renderHtml(app)')
    | HTML

  label
    input#html-haml(type='radio' name='html-syntax' value='haml' ng-model='app.htmlSyntax' ng-change='renderHtml(app)')
    | Haml

  label
    input#html-mkdn(type='radio' name='html-syntax' value='markdown' ng-model='app.htmlSyntax' ng-change='renderHtml(app)')
    | Markdown

  label
    input#html-jade(type='radio' name='html-syntax' value='jade' ng-model='app.htmlSyntax' ng-change='renderHtml(app)')
    | Jade



fieldset
  p
    select(ng-model='preferences.theme' ng-options='theme as name for (theme, name) in themes')

  p
    label
      input#enable-emmet(type='checkbox' name='emmet' value='true' ng-model='preferences.emmet')
      | Enable Emmet support

  p
    label
      input#enable-vim(type='checkbox' name='vim' value='true' ng-model='preferences.vim')
      | Use Vim keybindings

  p
    label
      input#enable-scrollPastEnd(type='checkbox' name='scrollPastEnd' value='true' ng-model='preferences.scrollPastEnd')
      | Scroll Past End

