GITHUB_ID=9ef1xxxx
GITHUB_SECRET=5784xxxxxxxx
COMPILER_ENDPOINTS='{ "lib": "http://lib.sassmeister.dev", "3.3": "http://sass3-3.sassmeister.dev", "3.4": "http://sass3-4.sassmeister.dev", "4.0": "http://sass4-0alpha.sassmeister.dev" }'
