@import scss-mixins
@import typography
@import icons

.social-icons
  h4
    display: inline-block
    margin: 20px 10px 0 0

  .icon
    display: inline-block
    margin: 0 5px


%link
  color: #00e
  cursor: pointer
  text-decoration: underline


fieldset
  border: 1px solid #ddd
  padding: 0.57em
  margin-bottom: 1em

  fieldset
    border: 1px solid #eee
  

.editor-wrapper, iframe
  position: relative
  height: 9em
  width: 95%

ui-ace
  position: absolute !important
  top: 0
  left: 0
  right: 0
  bottom: 0

control-panel
  font-size: 0.6em


a, [ng-click]
  @extend %link

#extension_list //, .control-container > fieldset:last-of-type
  display: none

.autoprefixer
  background: url('https://cdn.rawgit.com/postcss/autoprefixer/6.0.3/logo.svg') 50% 50% no-repeat
  background-size: contain
  display: inline-block
  width: 1.5em
  height: 1em
  float: right

