site-header

body
  article
    aside#support
      a(href='http://devswag.com/products/sassmeister-stickers-4')
        h1 Support SassMeister: buy a sticker!
      p
        | Or,
        a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=ELKSDTCSVYM3Y') contribute directly
        | . Any amount helps. Thanks!

    h1 The sassiest way to play with Sass, Compass, &amp; LibSass

    p
      | SassMeister is a playground for
      a(href='http://sass-lang.com') Sass
      | ,
      a(href='http://compass-style.org/') Compass
      | , and
      a(href='http://libsass.org/') LibSass
      | . Add some Sass and SassMeister will show you the rendered CSS. SassMeister supports both
      a(href='http://thesassway.com/articles/sass-vs-scss-which-syntax-is-better') Sass and SCSS syntaxes
      | , all
      a(href='http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#output_style') output styles
      | , and an ever-expanding list of Compass extensions and Sass libraries.

    h2 Current extensions

    p
      i
        | Not all extensions are available on all compilers. For instance, SassyJSON requires features that are only available in Sass 3.3.

    h2 Pitch in, help out

    p
      | If you find SassMeister useful please consider making a small
      a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=ELKSDTCSVYM3Y') monetary show of support
      | . Or,
      a(href='http://devswag.com/products/sassmeister-stickers-4') buy SassMeister stickers on DevSwag.com
      |  and a portion of the proceeds will go to this project. Any amount helps.

    p
      | The source code for the app is on
      a(href='https://github.com/jedfoster/SassMeister/issues') GitHub
      |  and pull requests are always welcome. Is there a Compass extension or Sass library you&apos;d like to see included?
      a(href='https://github.com/jedfoster/SassMeister/issues') Let us know
      | .

    h2 Colophon

    p
      | SassMeister is a project of
      a(href='http://jedfoster.com/') Jed Foster
      |  and
      a(href='http://www.dalesande.com') Dale Sande
      | . A
      a(href='http://www.meetup.com/SASSlang/') Seattle Sass Meetup
      |  presentation by
      a(href='https://peepcode.com') PeepCode Screencasts
      |  inspired the name.

