<article>
  
<h1><code><span class="variable">$page</span>: <span class="string">"404"</span>; <span class="comment">// <span class="frowny">:-(</span></span></code></h1>

  <p>Oops, that page wasn't found.</p>

  <p><a href="/">Back to the app</a>.</p> 
  
</article>
