<article>
  <h1>The sassiest way to play with Sass &amp; Compass!</h1>

  <p>SassMeister is a playground for <a href="http://sass-lang.com">Sass</a> and <a href="http://compass-style.org/">Compass</a>. Add some Sass and SassMeister will show you the rendered CSS. SassMeister supports both <a href="http://thesassway.com/articles/sass-vs-scss-which-syntax-is-better">Sass and SCSS syntaxes</a>, all <a href="http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#output_style">output styles</a>, and an ever-expanding list of Compass extensions and Sass libraries.</p>

  <p>Current extensions are:</p>

  <ol>
  <% @plugins.each do |plugin, info| %>
    <li><a href="<%= info[:url] %>"><%= plugin %></a></li>
  <% end %>
  </ol>

  <p>SassMeister is a project of <a href="http://jedfoster.com/">Jed Foster</a> and <a href="http://www.dalesande.com">Dale Sande</a>. A <a href="http://www.meetup.com/SASSlang/">Seattle Sass Meetup</a> presentation by <a href="https://peepcode.com">PeepCode Screencasts</a> inspired the name.</p>
  <p>If you find SassMeister useful please consider making a small <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=ELKSDTCSVYM3Y">monetary show of support</a>. Anything helps and all funds received go towards hosting costs.</p>
  <p>Is there a Compass extension or Sass library you'd like to see included? <a href="https://github.com/jedfoster/SassMeister/issues">Let us know</a>.</p>
</article>