<article>
  
  <aside id="support">
    <a href="http://devswag.com/products/sassmeister-stickers-4">
      <h1>Support SassMeister: buy a sticker!</h1>
      <img src="/images/sassmeister-detail-v02_medium.jpg">
      <p>Buy a 4-pack of stickers on DevSwag.com today and help support this project.</p>
    </a>

    <p>Or, <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=ELKSDTCSVYM3Y">contribute directly</a>. Any amount helps. Thanks!</p>
  </aside>
  
  <h1>The sassiest way to play with Sass, Compass, &amp; LibSass</h1>

  <p>SassMeister is a playground for <a href="http://sass-lang.com">Sass</a>, <a href="http://compass-style.org/">Compass</a>, and <a href="http://libsass.org/">LibSass</a>. Add some Sass and SassMeister will show you the rendered CSS. SassMeister supports both <a href="http://thesassway.com/articles/sass-vs-scss-which-syntax-is-better">Sass and SCSS syntaxes</a>, all <a href="http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#output_style">output styles</a>, and an ever-expanding list of Compass extensions and Sass libraries.</p>

  <h2>Current extensions</h2>

  <ol>
		<li><a href="http://bitters.bourbon.io">Bitters</a></li>
		<li><a href="https://github.com/heygrady/scss-blend-modes">Blend Modes</a></li>
		<li><a href="http://bourbon.io/">Bourbon</a></li>
		<li><a href="https://github.com/canarymason/breakpoint">Breakpoint</a></li>
		<li><a href="https://github.com/lolmaus/breakpoint-slicer">Breakpoint Slicer</a></li>
		<li><a href="https://github.com/BPScott/breakup">Breakup</a></li>
		<li><a href="https://github.com/Team-Sass/color-schemer">Color Schemer</a></li>
		<li><a href="http://compass-style.org">Compass</a></li>
		<li><a href="https://github.com/hagenburger/compass-placeholders">Compass Placeholders</a></li>
		<li><a href="https://github.com/ericam/compass-css-slideshow">Compass Slideshow</a></li>
		<li><a href="http://brandonmathis.com/projects/fancy-buttons/">Fancy Buttons</a></li>
		<li><a href="http://www.bookcasey.com/fittext/">Fittext</a></li>
		<li><a href="http://foundation.zurb.com/docs/sass.html">Foundation</a></li>
		<li><a href="https://github.com/adamstac/grid-coordinates">Grid Coordinates</a></li>
		<li><a href="http://www.bookcasey.com/harsh/">Harsh</a></li>
		<li><a href="https://github.com/stephenway/compass-inuit">Compass Inuit</a></li>
		<li><a href="https://github.com/Team-Sass/jacket">Jacket</a></li>
		<li><a href="https://github.com/Team-Sass/modular-scale">Modular Scale</a></li>
		<li><a href="http://neat.bourbon.io">Neat</a></li>
		<li><a href="https://github.com/JohnAlbin/normalize.css-with-sass-or-compass">Normalize SCSS</a></li>
		<li><a href="https://github.com/heygrady/compass-photoshop-drop-shadow">Photoshop Drop Shadow</a></li>
		<li><a href="https://github.com/sturobson/Responsive-Calculator/tree/rwdcalcSass/SCSSMixin">Responsive Calculator</a></li>
		<li><a href="http://ntreadway.github.com/responsive-sass/welcome">Responsive Sass</a></li>
		<li><a href="http://tsi.github.com/Salsa/">Salsa</a></li>
		<li><a href="http://jaredhardy.com/sassy-buttons/">Sassy Buttons</a></li>
		<li><a href="https://github.com/Team-Sass/Sassy-Maps">Sassy Maps</a></li>
		<li><a href="http://sassymothereffingtextshadow.com/">Sassy Text Shadow</a></li>
		<li><a href="http://sassylists.com/">SassyLists</a></li>
		<li><a href="https://github.com/Team-Sass/singularity">Singularity.gs</a></li>
		<li><a href="https://github.com/Team-Sass/Singularity-extras">Singularity Extras</a></li>
		<li><a href="https://github.com/hunterman/singularity-golden-grid">Singularity Golden Grid</a></li>
		<li><a href="https://github.com/Toadstool-Stipe/stipe">Stipe</a></li>
		<li><a href="http://anthonyshort.github.io/stitch-css/">Stitch</a></li>
		<li><a href="http://susy.oddbird.net">Susy</a></li>
		<li><a href="https://github.com/Team-Sass/toolkit">Toolkit</a></li>
		<li><a href="https://github.com/ericam/true">True</a></li>
		<li><a href="http://zengrids.com/">Zen Grids</a></li>
	</ol>

  <h2>Pitch in, help out</h2>

  <p>If you find SassMeister useful please consider making a small <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=ELKSDTCSVYM3Y">monetary show of support</a>. Or, <a href="http://devswag.com/products/sassmeister-stickers-4">buy SassMeister stickers on DevSwag.com</a> and a portion of the proceeds will go to this project. Any amount helps.</p>

  <p>The source code for the app is on <a href="https://github.com/jedfoster/SassMeister/issues">GitHub</a> and pull-requests are always welcome. Is there a Compass extension or Sass library you'd like to see included? <a href="https://github.com/jedfoster/SassMeister/issues">Let us know</a>.</p>
  
  
  <h2>Colophon</h2>

  <p>SassMeister is a project of <a href="http://jedfoster.com/">Jed Foster</a> and <a href="http://www.dalesande.com">Dale Sande</a>. A <a href="http://www.meetup.com/SASSlang/">Seattle Sass Meetup</a> presentation by <a href="https://peepcode.com">PeepCode Screencasts</a> inspired the name.</p>
</article>