<article>
  
<h1><code><span class="variable">$gist</span>: <span class="string">"404"</span>; <span class="comment">// <span class="frowny">:-(</span></span></code></h1>

  <p>Oops, that gist wasn't found.</p>

  <p>Check your gist ID and try again. Or, start a <a href="/">new gist</a>.</p> 
  
  <p><input type="text" name="id" id="gist-id" value="<%= (id rescue '') %>"> <button>GO!</button></p>
  
</article>
