<div id="casement">
  <div id="source">
    <div class="panel" data-name="sass">
      <%= partial :"shared/_sass_input" %>
    </div>
    <div class="panel" data-name="css">
      <%= partial :"shared/_css_output" %>
    </div>
    <div class="panel" data-name="html">
      <%= partial :"shared/_html_input" %>
    </div>
  </div>

  <div id="rendered" data-name="rendered">
    <iframe id="rendered-html" sandbox="allow-scripts allow-same-origin"></iframe>

    <div id="sash_cover"></div>
  </div>
</div>



<div id="control-column">
  <a id="open-controls" class="control-icon"></a>

  <div class="control-container">
    <section>
      <h2>Sass</h2>

      <h3>Version <span>X.X.X</span></h3>

      <span class="version-toggle-group">
        <input type="radio" name="sass-version" data-toggle-input="sass" value="sass3-3" id="version-sass3-3">
        <input type="radio" name="sass-version" data-toggle-input="sass" value="sass3-2" id="version-sass3-2">
        <input type="radio" name="sass-version" data-toggle-input="sass" value="lib    " id="version-lib">

        <label for="version-sass3-3">3.3.0.rc.1</label>
        <label for="version-sass3-2">3.2.13    </label>
        <label for="version-lib">libSass   </label>

        <span></span>
      </span>

      <h3>Syntax</h3>

      <span class="syntax-toggle-group">
        <input type="radio" name="sass_syntax" data-toggle-input="sass" value="sass" id="syntax-sass">
        <input type="radio" name="sass_syntax" data-toggle-input="sass" value="scss" id="syntax-scss">

        <label for="syntax-scss">SCSS</label>
        <label for="syntax-sass">Sass</label>

        <span></span>
      </span>

      <div id="extension_list"></div>
    </section>

    <section>
      <h2>CSS</h2>

      <span class="output-toggle-group">
        <input type="radio" name="output_style" data-toggle-input="css" value="expanded  " id="expanded-output">
        <input type="radio" name="output_style" data-toggle-input="css" value="nested    " id="nested-output">
        <input type="radio" name="output_style" data-toggle-input="css" value="compact   " id="compact-output">
        <input type="radio" name="output_style" data-toggle-input="css" value="compressed" id="compressed-output">

        <label for="expanded-output">expanded</label>
        <label for="nested-output">nested</label>
        <label for="compact-output">compact</label>
        <label for="compressed-output">compressed</label>

        <span></span>
      </span>
    </section>

    <section>
      <h2>HTML</h2>

      <span class="html-toggle-group">
        <input type="radio" name="html_syntax" data-toggle-input="css" value="HTML    " id="html-html">
        <input type="radio" name="html_syntax" data-toggle-input="css" value="Haml    " id="html-haml">
        <input type="radio" name="html_syntax" data-toggle-input="css" value="Markdown" id="html-mkdn">
        <input type="radio" name="html_syntax" data-toggle-input="css" value="Textile " id="html-txtl">

        <label for="html-html">HTML    </label>
        <label for="html-haml">Haml    </label>
        <label for="html-mkdn">Markdown</label>
        <label for="html-txtl">Textile </label>

        <span></span>
      </span>
    </section>
  </div>

  <div id="promo">
    <section class="swag-promo">
      <a href="http://devswag.com/products/sassmeister-stickers-4">
        <h1>Swag Alert! <img src="/images/sassmeister-detail-v02_medium.jpg"></h1>
        <p> Get sweet, sassy stickers &amp; help support SassMeister.</p>
      </a>
    </section>
  </div>

</div>