<hgroup>
  <!-- <h1>SassMeister</h1> -->
  <!-- <img src="/images/sass-meister-serif.gif" alt="Sass Meister">   -->
  <img src="/images/sass-meister-serif-v.gif" alt="Sass Meister">
</hgroup>


<div class="description">
  <p>SassMeister is a playground for <a href="http://sass-lang.com" target="_blank">Sass</a>. Type or paste some Sass into the text area below and SassMeister will show you the rendered CSS. You can even play with several popular Sass extensions/libraries, use either of Sass' <a href="http://thesassway.com/articles/sass-vs-scss-which-syntax-is-better" target="_blank">two syntaxes</a>, and select the <a href="http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#output_style" target="_blank">output style</a> of the final CSS!</p>

  <p><b>Available extensions/libraries:</b></p>

  <ul>
    <li><a href="http://thoughtbot.com/bourbon/" target="_blank">Bourbon</a></li>
    <li><a href="http://compass-style.org" target="_blank">Compass</a></li>
    <li><a href="https://github.com/Anotheruiguy/stipe" target="_blank">Stipe</a></li>
    <li><i><a href="http://foundation.zurb.com" target="_blank">Foundation 3</a> - COMING SOON</i></li>
    <li>... and of course, vanilla Sass</li>
  </ul>
</div>


<form action="/compile" method="post" accept-charset="utf-8" id="sass-form">
  <h2>Sass Input</h2>

  <label for="sass">Sass</label>
  <textarea name="sass" rows="8" cols="40" id="sass">body {
  foo:bar;
}</textarea>  
  
  <div class="form_control">
    <label for="plugin">Extension (optional)</label>
    <select name="plugin">
      <option value="">straight-up Sass</option>
      <option value=""></option>
      <option value="bourbon">Bourbon</option>
      <option value="compass">Compass</option>
      <option value="stipe">Stipe</option>
    </select>
  </div>

  <div class="form_control">
    <label for="syntax">Syntax</label>
    <select name="syntax">
      <option value="scss">SCSS</option>
      <option value="sass">Sass</option>
    </select>
  </div>

  <div class="form_control">
    <label for="output">Output Style</label>
    <select name="output">
      <option value="expanded">expanded</option>
      <option value="nested">nested</option>
      <option value="compact">compact</option>
      <option value="compressed">compressed</option>
    </select>
  </div>

  <div class="form_control">
    <button type="submit">Compile!</button>
  </div>
</form>


<section class="css-output">
  <h2>CSS Output</h2>

  <pre class="prettyprint" id="css"></pre>
</section>


<script>
  /*
  bindWithDelay jQuery plugin
  Author: Brian Grinstead
  MIT license: http://www.opensource.org/licenses/mit-license.php

  http://github.com/bgrins/bindWithDelay
  */
  (function($) {
    $.fn.bindWithDelay = function( type, data, fn, timeout, throttle ) {
    	if ( $.isFunction( data ) ) {
    		throttle = timeout;
    		timeout = fn;
    		fn = data;
    		data = undefined;
    	}

    	// Allow delayed function to be removed with fn in unbind function
    	fn.guid = fn.guid || ($.guid && $.guid++);

    	// Bind each separately so that each element has its own delay
    	return this.each(function() {
        var wait = null;

        function cb() {
            var e = $.extend(true, { }, arguments[0]);
            var ctx = this;
            var throttler = function() {
            	wait = null;
            	fn.apply(ctx, [e]);
            };

            if (!throttle) { clearTimeout(wait); wait = null; }
            if (!wait) { wait = setTimeout(throttler, timeout); }
        }

        cb.guid = fn.guid;

        $(this).bind(type, data, cb);
    	});
    }
  })(jQuery);
  /* --- END bindWithDelay --- */


  (function($) {
    $('textarea[name="sass"]').bindWithDelay('keyup', function() {
      $("#sass-form").submit();
    }, 1000);


    /* attach a submit handler to the form */
    $("#sass-form").submit(function(event) {

      /* stop form from submitting normally */
      event.preventDefault();

      /* get some values from elements on the page: */
      var $form = $( this ),
          sass = $form.find( 'textarea[name="sass"]' ).val(),
          syntax = $form.find( 'select[name="syntax"]' ).val(),
          output = $form.find( 'select[name="output"]' ).val(),
          plugin = $form.find( 'select[name="plugin"]' ).val(),
          url = $form.attr( 'action' );

      /* Send the data using post and put the results in a div */
      $.post( url, { sass: sass, syntax: syntax, output: output, plugin: plugin },
        function( data ) {
          // var content = $( data ).find( '#content' );
          $( "#css" ).empty().append( data );
          prettyPrint();
        }
      );
    });
  })(jQuery);
</script>
