<div id="source" class="stretch"></div>

<div id="panelswaiting">
  <div class="code stretch sass panel" data-name="sass">
    <%= partial :"shared/_sass_input" %>
  </div>
  <div class="code stretch css panel" data-name="css">
    <%= partial :"shared/_sass_output" %>
  </div>
  
  <div class="code stretch html panel" data-name="html">
    <%= partial :"shared/_html_input" %>
  </div>  
  <div class="code stretch rendered panel vertical" data-name="rendered">
    <iframe class="html_output" id="rendered-html" src="/compile"></iframe>
  </div>
</div>