<div id="casement">
  <div id="source">
    <div class="panel" data-name="sass">
      <%= partial :"shared/_sass_input" %>
    </div>
    <div class="panel" data-name="css">
      <%= partial :"shared/_css_output" %>
    </div>
    <div class="panel" data-name="html">
      <%= partial :"shared/_html_input" %>
    </div>
  </div>

  <div id="rendered" data-name="rendered">
    <iframe id="rendered-html" sandbox="allow-scripts allow-same-origin"></iframe>

    <div id="sash_cover"></div>
  </div>
</div>






<div id="control-column">
  
  <a id="open-controls" class="control-icon"></a>
  
  


  <div>
    <section>
      <h2>Sass</h2>

      <p>
        <label>Version</label> <select name="endpoint">
          <option data-endpoint="sass3-3" value="sass3-3" >3.3.0.rc.1</option>
          <option data-endpoint="sass3-2" value="sass3-2" >3.2.13    </option>
          <option data-endpoint="lib"     value="lib"     >libSass   </option>
        </select>
      </p>
      
      
      <p>
        <label>Syntax</label>
        <label for="syntax-scss"><input type="radio" name="sass_syntax" data-toggle-input="sass" value="scss" id="syntax-scss">SCSS</label>
        <label for="syntax-sass"><input type="radio" name="sass_syntax" data-toggle-input="sass" value="sass" id="syntax-sass">Sass</label>
      </p>


      <div id="extension_list"></div>
    </section>
  
    <section>
      <h2>CSS</h2>

      <p>
        <label>Output</label>
        <select name="output_style">
          <option data-toggle-input="css">expanded  </option>
          <option data-toggle-input="css">nested    </option>
          <option data-toggle-input="css">compact   </option>
          <option data-toggle-input="css">compressed</option>
        </select>
      </p>
    </section>
  
    <section>
      <h2>HTML</h2>

      <p>
        <label>Syntax</label>
        <select name="html_syntax">
         <option data-toggle-input="html">HTML    </option>
         <option data-toggle-input="html">Haml    </option>
         <option data-toggle-input="html">Markdown</option>
         <option data-toggle-input="html">Textile </option>
        </select>
      </p>
    </section>
  </div>
  
  
  
</div>