<div id="casement">
  <div id="source">
    <div class="panel" data-name="sass">
      <%= partial :"shared/_sass_input" %>
    </div>
    <div class="panel" data-name="css">
      <%= partial :"shared/_css_output" %>
    </div>
    <div class="panel" data-name="html">
      <%= partial :"shared/_html_input" %>
    </div>
  </div>

  <div id="rendered" data-name="rendered">
    <iframe id="rendered-html" sandbox="allow-scripts allow-same-origin"></iframe>

    <div id="sash_cover"></div>
  </div>
</div>



<div id="control-column" class="open">
  <a id="open-controls" class="control-icon"></a>

  <div class="control-container">
    <fieldset>
      <h2>Sass</h2>

      <h3 class="version">Version</h3>

      <fieldset class="version-toggle-group" data-event-name="SassVersion">
        <input type="radio" name="version" value="3.3" id="version-sass3-3">
        <label for="version-sass3-3" data-toggle-input="version">3.3.0.rc.1</label>

        <input type="radio" name="version" value="3.2" id="version-sass3-2">
        <label for="version-sass3-2" data-toggle-input="version">3.2.13</label>

        <input type="radio" name="version" value="lib" id="version-lib">
        <label for="version-lib" data-toggle-input="version">libSass</label>

        <span></span>
      </fieldset>

      <h3 class="syntax">Syntax</h3>

      <fieldset class="syntax-toggle-group" data-event-name="SassSyntax">
        <input type="radio" name="syntax" value="scss" id="syntax-scss">
        <label for="syntax-scss" data-toggle-input="sass">SCSS</label>
        
        <input type="radio" name="syntax" value="sass" id="syntax-sass">
        <label for="syntax-sass" data-toggle-input="sass">Sass</label>

        <span></span>
      </fieldset>

      <div id="extension_list" style="clear: both;"></div>
    </fieldset>

    <fieldset>
      <h2>CSS</h2>

      <fieldset class="output-toggle-group" data-event-name="CSSOutput">
        <input type="radio" name="output-style" value="expanded" id="expanded-output">  
        <label for="expanded-output" data-toggle-input="css">expanded</label>
        
        <input type="radio" name="output-style" value="nested" id="nested-output">    
        <label for="nested-output" data-toggle-input="css">nested</label>
        
        <input type="radio" name="output-style" value="compact" id="compact-output">   
        <label for="compact-output" data-toggle-input="css">compact</label>
        
        <input type="radio" name="output-style" value="compressed" id="compressed-output">
        <label for="compressed-output" data-toggle-input="css">compressed</label>

        <span></span>
      </fieldset>
    </fieldset>

    <fieldset>
      <h2>HTML</h2>

      <fieldset class="html-toggle-group" data-event-name="HTMLSyntax">
        <input type="radio" name="html-syntax" value="HTML" id="html-html">
        <label for="html-html" data-toggle-input="html">HTML</label>
        
        <input type="radio" name="html-syntax" value="Haml" id="html-haml">
        <label for="html-haml" data-toggle-input="html">Haml</label>
        
        <input type="radio" name="html-syntax" value="Markdown" id="html-mkdn">
        <label for="html-mkdn" data-toggle-input="html">Markdown</label>
        
        <input type="radio" name="html-syntax" value="Textile" id="html-txtl">
        <label for="html-txtl" data-toggle-input="html">Textile</label>

        <span></span>
      </fieldset>
    </fieldset>
  </div>

  <div id="promo">
    <section class="swag-promo">
      <a href="http://devswag.com/products/sassmeister-stickers-4">
        <h1>Swag Alert! <img src="/images/sassmeister-detail-v02_medium.jpg"></h1>
        <p> Get sweet, sassy stickers &amp; help support SassMeister.</p>
      </a>
    </section>
  </div>

</div>
