site-header
  display: block
  position: relative
  height: $site-header-height
  background: $alpha_color
  color: $white
  font-weight: 200
   
  display: flex
  align-items: center

  a
    cursor: pointer
    &:hover
      span
        text-decoration: underline

  // svg
  //   width: em(28)
  //   height: em(28)

  .logo
    @extend %header-button

    margin: 0 1em
    // float: left

    svg
      vertical-align: middle
      display: block
      fill: $white

      width: em(130.5)
      height: em(48)

      width: ($site-header-height * 2.71875) * 0.75
      height: $site-header-height * 0.75

    &:hover
      background: transparent
      @media #{$desktop}
        &:after
          +tooltip
          right: initial
          left: 0
          width: em(260)
          @media #{$mobile}
            display: none
    @media #{$mobile}
      left: 0.33333em
  
  nav
    list-style: none
    text-align: right
    float: right
    position: relative

    > div
      @extend %nav-block
      @extend %header-button
      @extend %sub-menu-dropdown

    > a
      @extend %nav-block


    .bookmark-icon
      @media #{$tablet}
        display: none
    img
      border-radius: $border-radius
      display: inline
      height: $site-header-height * 0.75
      vertical-align: middle
    #account_actions
      width: auto
      li
        width: auto
        min-width: em(220)
        max-width: em(360)
  ul
    svg
      display: inline
      margin-right: 0.25em
      width: em(26)
      height: em(26)

.tagline
  display: block
  line-height: $site-header-height
  float: left
  margin-left: 1em
  @media screen and (max-width: 920px)
    display: none

.github, .bookmark
  &:hover
    &:after
      @extend %tooltip
      @media #{$mobile}
        display: none


#share_actions ul
  width: em(380)
  label
    display: inline-block
    margin-bottom: 0.5em
  textarea
    width: 100%
    height: 5em
    font-family: $monospace_font_family
    border: 1px solid $delta_gray
    padding: 0 0.25em
    outline: none
    -webkit-appearance: none
    resize: none
    color: $black
    font-size: .7em
    line-height: 1

svg.cloud-icon, svg.share-icon
  width: em(36)
  height: em(36)

#toggle_css, #toggle_html
  @media #{$tablet}
    display: none
