a.logo(ui-sref='{{logoHref()}}' title='The sassiest way to play with Sass, Compass, &amp; LibSass!')
  svg
    title SassMeister: The sassiest way to play with Sass, Compass, & LibSass!
    use(xlink:href='/img/icons.svg#sassmeister')

nav.menu-bar
  cloud-menu.menu-bar-item

  div.view-menu.menu-bar-item
    span View
    ul.menu-list
      li.menu-list-item.checkable
        label
          input(type='checkbox' name='css' value='true')
          | CSS

      li.menu-list-item.checkable
        label
          input(type='checkbox' name='html' value='true')
          | HTML

  div.menu-bar-item(ng-if='gist')
    span Share
    ul.menu-list
      li.menu-list-item
        label Embed code:
          textarea(onclick='this.focus();this.select();' readonly ng-readonly='true' ng-bind='embedCode()')

  div.menu-bar-item
    span Options
    control-panel.menu-list

  a.menu-bar-item(href='/authorize' ng-click='login()' title='Login with Github' ng-if='loggedOut()')
    span Login with Github

  div.menu-bar-item(ng-if='loggedIn()')
    span
      img(ng-src='{{avatarUrl}}')

    ul.menu-list
      li.menu-list-item
        | Hello, {{githubId}}!

      li.menu-list-item
        a(href='/logout' ng-click='logout()')
          span Logout

