a.logo(ui-sref='{{logoHref()}}' title='The sassiest way to play with Sass, Compass, & LibSass!')
  svg
    title SassMeister: The sassiest way to play with Sass, Compass, & LibSass!
    use(xlink:href='/img/icons.svg#sassmeister')

nav.menu-bar(ng-if='showMenuBar()')
  cloud-menu.menu-bar-item

  div.view-menu.menu-bar-item
    span View
    ul.menu-list
      li.menu-list-item.checkable
        label
          input(type='checkbox' name='css' value='true' ng-model='preferences.cssVisible' ng-change='resetSizes()')
          | CSS

      li.menu-list-item.checkable
        label
          input(type='checkbox' name='html' value='true' ng-model='preferences.htmlVisible' ng-change='resetSizes()')
          | HTML

      li.menu-list-section
        span Orientation
        ul
          li.menu-list-item.checkable
            label
              input(type='radio' name='orientation' value='horizontal' ng-model='preferences.orientation' ng-change='resetSizes()')
              | Horizontal

          li.menu-list-item.checkable
            label
              input(type='radio' name='orientation' value='vertical' ng-model='preferences.orientation' ng-change='resetSizes()')
              | Vertical

  div.menu-bar-item(ng-if='gist')
    span Share
    ul.menu-list
      li.menu-list-section
        span Embed code:
        textarea(onclick='this.focus();this.select();' readonly ng-readonly='true' ng-bind='embedCode()')

  div.menu-bar-item
    span Options
    control-panel.menu-list

  a.menu-bar-item(href='/authorize' ng-click='login()' title='Login with Github' ng-if='loggedOut()')
    span Login with Github

  div.menu-bar-item.auth-menu(ng-if='loggedIn()')
    span
      img(ng-src='{{avatarUrl}}')

    ul.menu-list
      li.menu-list-item
        | Hello, {{githubId}}!

      li.menu-list-item
        a(href='/logout' ng-click='logout()')
          span Logout

