.ace-clouds-midnight {
  background-color: #191919;
  color: #929292;

  .ace_gutter {
    background: #232323;
    color: #929292;
  }

  .ace_print-margin {
    width: 1px;
    background: #232323;
  }

  .ace_cursor {
    border-left: 2px solid #7da5dc;
  }

  .ace_overwrite-cursors .ace_cursor {
    border-left: 0px;
    border-bottom: 1px solid #7da5dc;
  }

  .ace_marker-layer .ace_selection {
    background: black;
  }

  &.ace_multiselect .ace_selection.ace_start {
    box-shadow: 0 0 3px 0px #191919;
    border-radius: 2px;
  }

  .ace_marker-layer .ace_step {
    background: rgb(102, 82, 0);
  }

  .ace_marker-layer .ace_bracket {
    margin: -1px 0 0 -1px;
    border: 1px solid #bfbfbf;
  }

  .ace_marker-layer .ace_active-line {
    background: rgba(215, 215, 215, 0.031);
  }

  .ace_gutter-active-line {
    background-color: rgba(215, 215, 215, 0.031);
  }

  .ace_marker-layer .ace_selected-word {
    border: 1px solid black;
  }

  .ace_invisible {
    color: #bfbfbf;
  }

  .ace_keyword,
  .ace_meta,
  .ace_support.ace_constant.ace_property-value {
    color: #927c5d;
  }

  .ace_keyword.ace_operator {
    color: #4b4b4b;
  }

  .ace_keyword.ace_other.ace_unit {
    color: #366f1a;
  }

  .ace_constant.ace_language {
    color: #39946a;
  }

  .ace_constant.ace_numeric {
    color: #46a609;
  }

  .ace_constant.ace_character.ace_entity {
    color: #a165ac;
  }

  .ace_invalid {
    color: #FFFFFF;
    background-color: #e92e2e;
  }

  .ace_fold {
    background-color: #927C5D;
    border-color: #929292;
  }

  .ace_storage,
  .ace_support.ace_class,
  .ace_support.ace_function,
  .ace_support.ace_other,
  .ace_support.ace_type {
    color: #e92e2e;
  }

  .ace_string {
    color: #5d90cd;
  }

  .ace_comment {
    color: #3c403b;
  }

  .ace_entity.ace_name.ace_tag,
  .ace_entity.ace_other.ace_attribute-name {
    color: #606060;
  }

  .ace_indent-guide {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWNgYGBgYHB3d/8PAAOIAdULw8qMAAAAAElFTkSuQmCC") right repeat-y;
  }
}