.ace-dawn {
  background-color: #F9F9F9;
  color: #080808;

  .ace_gutter {
    background: #ebebeb;
    color: #333333;
  }

  .ace_print-margin {
    width: 1px;
    background: #e8e8e8;
  }

  .ace_cursor {
    border-left: 2px solid black;
  }

  .ace_overwrite-cursors .ace_cursor {
    border-left: 0px;
    border-bottom: 1px solid black;
  }

  .ace_marker-layer .ace_selection {
    background: rgba(39, 95, 255, 0.3);
  }

  &.ace_multiselect .ace_selection.ace_start {
    box-shadow: 0 0 3px 0px #F9F9F9;
    border-radius: 2px;
  }

  .ace_marker-layer .ace_step {
    background: rgb(255, 255, 0);
  }

  .ace_marker-layer .ace_bracket {
    margin: -1px 0 0 -1px;
    border: 1px solid rgba(75, 75, 126, 0.5);
  }

  .ace_marker-layer .ace_active-line {
    background: rgba(36, 99, 180, 0.12);
  }

  .ace_gutter-active-line {
    background-color: gainsboro;
  }

  .ace_marker-layer .ace_selected-word {
    border: 1px solid rgba(39, 95, 255, 0.3);
  }

  .ace_invisible {
    color: rgba(75, 75, 126, 0.5);
  }

  .ace_keyword,
  .ace_meta {
    color: #794938;
  }

  .ace_constant,
  .ace_constant.ace_character,
  .ace_constant.ace_character.ace_escape,
  .ace_constant.ace_other {
    color: #811f24;
  }

  .ace_invalid.ace_illegal {
    text-decoration: underline;
    font-style: italic;
    color: #F8F8F8;
    background-color: #b52a1d;
  }

  .ace_invalid.ace_deprecated {
    text-decoration: underline;
    font-style: italic;
    color: #b52a1d;
  }

  .ace_support {
    color: #691c97;
  }

  .ace_support.ace_constant {
    color: #b4371f;
  }

  .ace_fold {
    background-color: #794938;
    border-color: #080808;
  }

  .ace_list,
  .ace_support.ace_function {
    color: #693a17;
  }

  .ace_storage {
    font-style: italic;
    color: #a71d5d;
  }

  .ace_string {
    color: #0b6125;
  }

  .ace_string.ace_regexp {
    color: #cf5628;
  }

  .ace_comment {
    font-style: italic;
    color: #5a525f;
  }

  .ace_variable {
    color: #234a97;
  }

  .ace_heading {
    color: #19356d;
  }

  .ace_indent-guide {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWNgYGBgYLh/5+x/AAizA4hxNNsZAAAAAElFTkSuQmCC") right repeat-y;
  }
}