.controls {
  display: block;
  float: left;
  width: 100%;
  clear: both;
  min-height: em(72);

  .css_output & {
    padding-top:em(20);
    min-height: em(52);
  }
}

.form_control {
  @include grid(4, $grid_context: 4);

  margin-bottom: em(16);
  min-height: em(52);

  @media #{$desktop} {
    @include grid(4);

    &:first-child {
      @include grid(4.125, alpha);
    }

    &:last-child {
      @include grid(4.125, omega);
    }
  }
}