.site_header {
  .logoBox {
    box-shadow: inset 0px -10px 18px -5px darken($alpha_color, 10%);
    border-bottom: 1px solid scale-color($alpha_color, $lightness: -50%);
    
    background: $alpha_color_charlie;
    height: 60px;
    margin-bottom: 20px;
    a {
      color: white;
      height: em(45);
      &:hover {
        color: darken($alpha_color, 30%);
        text-shadow: 0 0 5px $white;
      }
    }
  }
  .logo {
    color: white;
    position: relative;
    top: -30px;
    left: 15px;
    height: 91px;
    float: left;
    text-shadow: 0 0 5px darken($alpha_color, 10%);

    @extend %icon-font;

    &:before {
      content: "\2c"; // horizontal
      font-size: 6em;
    }
  }
  .header_description {
    display: none;
  }
}

.social_links {
  .paypal-icon {
    border-right: 1px solid darken($alpha_color, 5%);
    box-shadow: inset -1px 0px 0px 0px transparentize(white, 0.8);
    padding-right: em(20);
    margin-right: em(5);
  }
}