.site_header {
  margin: em(30) 0;
  width: 100%;
  @extend %clearfix;
  @media #{$mobile} {
    margin-top: 0;
    margin-bottom: em(10);
  }
  position:relative;

  .logo {
    @include grid(4);
    margin-left: 0;
    height: 8.75em;
    text-align:center;
    margin-bottom: em(10);
    @media #{$mobile} {
      @include grid(4, $grid_context: 4);
      margin-bottom: em(18);
    }

    @extend %icon-font;

    &:before {
      content: "\2d";
      font-size: 8.75em;
      color: $href_color;
    }
  }
  .header_description {
    @extend %grid_8;
    margin-right: 0;
  }
}

.header_container {
  @include grid(12, $grid_align: center, $grid_uom: em);
  @media #{$mobile} {
    @include grid(4, $grid_context: 4);
  }
}