%tooltip {
  position: absolute;
  border-radius: 10px;
  content: attr(title);
  font-family: verdana;
  color: white;
  font-size: em(14);
  padding: em(15) em(5);
  background: transparentize(black, 0.2);
  text-shadow: 0 0 0 transparent;
  width: 125px;
  margin-left: -125px;
  top: 40px;
  text-align: center;
  line-height: 1.5em;
  box-shadow: 0 0 10px 1px $shadow_color;
  z-index: 1000;
}


.site_header {
  .logoBox {
    box-shadow: inset 0px -10px 18px -5px darken($alpha_color, 10%);
    border-bottom: 1px solid scale-color($alpha_color, $lightness: -50%);

    background: $alpha_color_charlie;
    height: 60px;
    margin-bottom: 20px;
    a {
      color: white;
      height: em(35);
      &:hover {
        color: darken($alpha_color, 30%);
        text-shadow: 0 0 5px $white;
        &:after {
          @extend %tooltip;
          // position: absolute;
          // border-radius: 10px;
          // content: attr(title);
          // font-family: verdana;
          // color: white;
          // font-size: em(14);
          // padding: em(15) em(5);
          // background: transparentize(black, 0.2);
          // text-shadow: 0 0 0 transparent;
          // width: 125px;
          // margin-left: -125px;
          // top: 40px;
          // text-align: center;
          // line-height: 1.5em;
          // box-shadow: 0 0 10px 1px $shadow_color;
          // z-index: 1000;
        }
      }
    }
    .logo {
      &:hover {
        &:after {
          display: none;
        }
      }
    }
  }
  .logo {
    color: white;
    position: relative;
    top: -28px;
    left: 15px;
    height: 91px;
    float: left;
    text-shadow: 0 0 5px darken($alpha_color, 10%);

    @extend %icon-font;

    &:before {
      content: "\2c"; // horizontal
      font-size: 6em;
    }
  }
  .header_description {
    display: none;
  }
}

.social_links {
    list-style: none;
    margin-top: em(10);
  //  margin-right: em(20);
    text-align: right;
    text-shadow: 0 0 5px darken($alpha_color, 10%);
    float: right;
    position: relative;
    right: 15px;

    a {
      margin: 0 em(5);
    }

    li {
      display: block;
      float:left;
      margin-right: 1.5em;

      &:last-child {
        @extend %omega;
      }
    }
    @media #{$mobile} {
      margin-right: em(10);
    }


  .paypal-icon {
    border-right: 1px solid darken($alpha_color, 5%);
    box-shadow: inset -1px 0px 0px 0px transparentize(white, 0.8);
    padding-right: em(20);
    margin-right: em(5);
    @media #{$mobile} {
      padding-right: em(10);
      margin-right: 0;
    }
  }
  .github-login {
    &:before, &:after {
      font-size:2em;
    }

    .gh-authorized &:before {
      font-size:1.5em;
      color: $bravo_gray;
      text-shadow: 0 0 5px lighten($alpha_color, 20%);
    }
  }
}