/////// generic b/w blocks ////////
// ----------------------------------------------
$bravo_gray:scale-color($alpha_gray, $lightness: 10%);
$charlie_gray:scale-color($alpha_gray, $lightness: 20%);
$delta_gray:scale-color($alpha_gray, $lightness: 30%);
$echo_gray:scale-color($alpha_gray, $lightness: 40%);
$fox_gray:scale-color($alpha_gray, $lightness: 50%);
$golf_gray:scale-color($alpha_gray, $lightness: 60%);
$hotel_gray:scale-color($alpha_gray, $lightness: 70%);
$india_gray:scale-color($alpha_gray, $lightness: 80%);
