doctype html
html.no-js(ng-app='sassMeister')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')

    title SassMeister | The Sass Playground!

    meta(name='description' content='SassMeister is a playground for Sass. Add some Sass and SassMeister will show you the rendered CSS.')
    meta(name='author' lang='en' content='Jed Foster and Dale Sande')
    meta(name="viewport" content='width=device-width, initial-scale=1.0, minimum-scale=0.5 maximum-scale=1.0')

    base(href='/')

    //- link(rel='stylesheet' href='/css/styles.css')
    //- script(src='/js/modernizr.js')

  body(class=bodyClass)
    block header
      include ./_header.jade

    block controlPanel
      include ./_control-panel.jade

    section
      block content

    block footer
      include ./_footer.jade

    script.
      //- var _gaq = _gaq || [];
      //- % if settings.environment == :production % _gaq.push(['_setAccount', 'UA-35407426-1']);
      //- _gaq.push(['_trackPageview']);

      //- (function() {
      //-   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      //-   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      //-   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      //- })();% end %

    script(src='/js/app.js')

