%nav-block {
  display: block;
  float: left;
  padding: 0 em(15);
  height: $site-header-height;
  line-height: $site-header-height;
  position: relative;
  min-width: 3.5em;
  text-align: center;
  border-left: 1px solid darken($alpha_color, 5%);
  box-shadow: inset 1px 0px 0px 0px transparentize(white, 0.8);

  @media #{$mobile} {
    padding-right: em(12);
    min-width: 3em;
  }
}
