@mixin sub-menu {
  position: absolute;
  z-index: 9999;
  top: $site-header-height;
  right: 0;
  width: em(200);
  padding: 0.5em;
  line-height: 1.5em;
  font-family: $primary_font_family;
  text-shadow: 0 0 0 transparent;
  text-align: center;
  color: $white;
  background: transparentize(scale-color($alpha_color, $lightness: -80%), 0.2);

  @each $prefix in $prefix_defaults {
    #{$prefix}border-bottom-left-radius: em(3);
    #{$prefix}border-bottom-right-radius: em(3);
  }
}

%sub-menu {
  @include sub-menu;
}
