<article>
  <aside id="support">
    <a href="http://devswag.com/products/sassmeister-stickers-4">
      <h1>Support SassMeister: buy a sticker!</h1>
      <%= image_tag 'sassmeister-detail-v02_medium.jpg' %>
      <p>Buy a 4-pack of stickers on DevSwag.com today and help support this project.</p>
    </a>

    <p>Or, <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=ELKSDTCSVYM3Y">contribute directly</a>. Any amount helps. Thanks!</p>
  </aside>

  <h1>The sassiest way to play with Sass, Compass, &amp; LibSass</h1>

  <p>SassMeister is a playground for <a href="http://sass-lang.com">Sass</a>, <a href="http://compass-style.org/">Compass</a>, and <a href="http://libsass.org/">LibSass</a>. Add some Sass and SassMeister will show you the rendered CSS. SassMeister supports both <a href="http://thesassway.com/articles/sass-vs-scss-which-syntax-is-better">Sass and SCSS syntaxes</a>, all <a href="http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#output_style">output styles</a>, and an ever-expanding list of Compass extensions and Sass libraries.</p>

  <h2>Current extensions</h2>

  <%= extension_info_list %>

  <p><i>Not all extensions are available on all compilers. For instance, SassyJSON requires features that are only available in Sass 3.3.</i><p>

  <h2>Pitch in, help out</h2>

  <p>If you find SassMeister useful please consider making a small <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=ELKSDTCSVYM3Y">monetary show of support</a>. Or, <a href="http://devswag.com/products/sassmeister-stickers-4">buy SassMeister stickers on DevSwag.com</a> and a portion of the proceeds will go to this project. Any amount helps.</p>

  <p>The source code for the app is on <a href="https://github.com/jedfoster/SassMeister/issues">GitHub</a> and pull requests are always welcome. Is there a Compass extension or Sass library you'd like to see included? <a href="https://github.com/jedfoster/SassMeister/issues">Let us know</a>.</p>

  <h2>Colophon</h2>

  <p>SassMeister is a project of <a href="http://jedfoster.com/">Jed Foster</a> and <a href="http://www.dalesande.com">Dale Sande</a>. A <a href="http://www.meetup.com/SASSlang/">Seattle Sass Meetup</a> presentation by <a href="https://peepcode.com">PeepCode Screencasts</a> inspired the name.</p>
</article>
