carbon-ad
  position: fixed
  bottom: 1.5em
  right: 0
  max-width: 360px
  z-index: 20

#carbonads
  display: block
  overflow: hidden
  padding: 0.75em
  line-height: 1.25
  font-size: 0.8em
  background: $gray-3
  border: 1px solid $gray-2
  border-bottom: 0

  span
    display: block
    overflow: hidden

.carbon-text
  display: block
  float: left
  max-width: 50%
  text-align: left
  color: scale-color($gray-1, $lightness: 30%)

.carbon-img
  float: left
  margin-right: 12px
  width: 130px
  height: 100px

.carbon-poweredby
  display: block
  float: left
  margin: -1.2em 0 0 142px
  font-size: .8em
  color: scale-color($gray-1, $lightness: 30%)

