//- span.cloud-icon
//-   span.alt Save
ul#cloud_actions

  li(ng-if='showUpdateGist()')
    a(ng-click='updateGist()')
      span Update Gist

  li(ng-if='showSaveGist()')
    a(ng-click='createGist()')
      span Save Gist

  li(ng-if='showForkGist()')
    a(ng-click='forkGist()')
      span Fork Gist

  li(ng-if='showLoginToSaveGists()')
    a.github(href='/authorize' ng-click='login()')
      span Log in with your GitHub account to save gists

  li(ng-if='showViewOnGitHub()')
    a#gist-link.github(ng-href='https://gist.github.com/{{gist.id}}')
      span View on GitHub


  li
    a#reset.reset-icon
      span Reset

