div
  a.control-icon

  div.control-container
    fieldset
      h2 Sass

      fieldset(data-event-name='SassVersion')
        h3.version Compiler

        //- include ./_compiler-menu.jade

      h3.syntax Syntax

      fieldset.syntax-toggle-group(data-event-name='SassSyntax')
        input#syntax-scss(type='radio' name='syntax' value='scss' ng-model='app.syntax' ng-change='compile()')
        label(for='syntax-scss' data-toggle-input='sass') SCSS

        input#syntax-sass(type='radio' name='syntax' value='sass' ng-model='app.syntax' ng-change='compile()')
        label(for='syntax-sass' data-toggle-input='sass') Sass

        span

      div#extension_list
        h3.selected Extensions 
          i (Inserted at cursor)

        ol

    fieldset
      h2 CSS

      fieldset.output-toggle-group(data-event-name='CSSOutput')
        input#expanded-output(type='radio' name='output-style' value='expanded' ng-model='app.outputStyle' ng-change='compile()')
        label(for='expanded-output' data-toggle-input='css') expanded

        input#nested-output(type='radio' name='output-style' value='nested' ng-model='app.outputStyle' ng-change='compile()')
        label(for='nested-output' data-toggle-input='css') nested

        input#compact-output(type='radio' name='output-style' value='compact' ng-model='app.outputStyle' ng-change='compile()')
        label(for='compact-output' data-toggle-input='css') compact

        input#compressed-output(type='radio' name='output-style' value='compressed' ng-model='app.outputStyle' ng-change='compile()')
        label(for='compressed-output' data-toggle-input='css') compressed

        span

    fieldset
      h2 HTML

      fieldset.html-toggle-group(data-event-name='HTMLSyntax')
        input#html-html(type='radio' name='html-syntax' value='HTML')
        label(for='html-html' data-toggle-input='html') HTML

        input#html-haml(type='radio' name='html-syntax' value='Haml')
        label(for='html-haml' data-toggle-input='html') Haml

        input#html-mkdn(type='radio' name='html-syntax' value='Markdown')
        label(for='html-mkdn' data-toggle-input='html') Markdown

        input#html-txtl(type='radio' name='html-syntax' value='Textile')
        label(for='html-txtl' data-toggle-input='html') Textile

        input#html-jade(type='radio' name='html-syntax' value='Jade')
        label(for='html-jade' data-toggle-input='html') Jade

        span

    fieldset
      h2 Editor

      fieldset
        h3.theme Theme
        p
          select(ng-model='preferences.theme' ng-options='theme as name for (theme, name) in themes')
        
        p
          input#enable-emmet(type='checkbox' name='emmet' value='true' ng-model='preferences.emmet')
          label(for='enable-emmet') Enable Emmet support
        
        p
          input#enable-vim(type='checkbox' name='vim' value='true' ng-model='preferences.vim')
          label(for='enable-vim') Use Vim keybindings
        
        p
          input#enable-scrollPastEnd(type='checkbox' name='scrollPastEnd' value='true' ng-model='preferences.scrollPastEnd')
          label(for='enable-scrollPastEnd') Scroll Past End

div#control-column-bg

