article
  h1
    code
      span.variable $page
      | : 
      span.string "404"
      | ; 
      span.comment // <span class='frowny'>:(</span>

  p Oops, that page wasn't found.

  p
    a(ui-sref="/") Back to the app
    | .

