.main_body {
  @extend %stretch;

  width: 100%;
  z-index: 2;
  top: $site-header-height;
  bottom: em(32);

  .embedded & {
    top: 0;
  }
}


#casement {
  @extend %stretch;
}

#rendered-html {
  width: 100%;
  height: 100%;
  float: left;
  padding-top: 0.66667em;
  background: $white;

  @media #{$tablet} {
    padding-top: 0;
  }
}

#rendered {
  //@extend %stretch;

  z-index: 200;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

#sash_cover {
  @extend %stretch;

  z-index: 201;
  display: none;
}

.panel {
  @extend %stretch;
}
