.main_body {
  @extend %stretch;

  width: 100%;
  z-index: 2;
  top: $site-header-height;
  bottom: em(32);

  @media screen and (max-width: 650px) {
    bottom: em(64);
    padding-bottom: em(64);
  }
}


#casement {
  @extend %stretch;
}

#rendered-html {
  width: 100%;
  height: 100%;
  float: left;
  padding-top: 0.66667em;
  background: $white;
}

#rendered {
  @extend %stretch;

  z-index: 200;
}

#sash_cover {
  @extend %stretch;

  z-index: 201;
  display: none;
}

.panel {
  @extend %stretch;
}
