.controls {
  text-align: right;

  > label {
    @extend .control-icon;
    
    padding: 0 0.83333em;
    
    &:before {
      font-size: 1em;
    }
    
  }

  // display: inline-block;
  // width: auto;
  // float: right;
  
  menu {
    @extend %sub-menu;

    display: block;
    
    top: em($heading_3);
    min-width: em(200);
    width: 90%;
    text-align: left;
    
    
    > * {
      display: block;
      width: 100%;
      margin-bottom: 1.5em;
    }
  }

  &:hover {
    menu {
      display: block;
    }
  }

  h3 {
    @extend %headings_5;
    
    font-weight: 200;
    color: $white;
    margin-bottom: 0.5em;
  }
}