.edit_container {
  background: $india_gray;

  .pre_container {
    @extend %stretch;

    display: block;
    padding-top: 1.5em;
  }

  .edit-header {
    display: block;
    margin: 0;
    height: em($heading_3);
    font-size: 1em;
    font-weight: 200;
    text-align: center;
    color: $delta_gray;
    border-bottom: 1px solid $golf_gray;
  }

  pre {
    width: 100%;
    height: 100%;
    font-size: em($small_point_size);
    line-height: 1.5;
    outline: none;
  }

  .ace_editor {
    font-family: $monospace-font-family;
  }
}