.edit_container {
  background: $india_gray;

  .pre_container {
    @extend %stretch;

    display: block;
    margin-top: 1.5em;
  }

  .edit-header {
    text-align: left;
    display: block;
    margin: 0;
    height: em($heading_3);
    font-size: 1em;
    font-weight: 200;
    color: $delta_gray;
    border-bottom: 1px solid $golf_gray;
  }

  pre {
    @extend %stretch;

    font-size: em($small_point_size);
    line-height: 1.5;
    outline: none;
  }

  .ace_editor {
    font-family: $monospace-font-family;
  }
}

.panel-toggle {
  padding: 0 0.83333em;
  display: inline-block;
  width: auto;

  .selected {
    &:after {
      @extend %icon-pseudo-content;

      content: "\f0d7";
      margin: 0 0.33333em;
      font-size: 0.83333em;
    }
  }

  > ul {
    display:none;

    background: transparentize(scale-color($alpha_color, $lightness: -80%), 0.2);
    position: absolute;
    z-index: 9999;
    top: em($heading_3);
    left: 0;
    width: em(200);

    @each $prefix in $prefix_defaults {
      #{$prefix}border-bottom-left-radius: em(3);
      #{$prefix}border-bottom-right-radius: em(3);
    }

    > li {
      width: 100%;
      display: block;
      color: $white;
      padding: 0.41665em 0.83333em;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  &:hover {
    color: $white;
    background: transparentize(scale-color($alpha_color, $lightness: -80%), 0.2);

    .selected {

      &:after {
        content: "\f0d8";
      }
    }

    > ul {
      display: block;
    }
  }
}