.edit_container {
  background: $india_gray;

  .pre_container {
    @extend %stretch;

    display: block;
    margin-top: 1.5em;
  }

  .edit-header {
    text-align: center;
    display: block;
    margin: 0;
    height: em($heading_3);
    font-size: 1em;
    font-weight: 200;
    color: $delta_gray;
    border-bottom: 1px solid $golf_gray;
    vertical-align: middle;

    h2 {
      font-size: inherit;
      font-weight: inherit;
      color: inherit;
      display: inline-block;
      float: left;
      padding: 0 0.83333em;
      line-height: 1.5;
    }
  }

  pre {
    @extend %stretch;

    font-size: em($small_point_size);
    line-height: 1.5;
    outline: none;
  }

  .ace_editor, .CodeMirror {
    font-family: $monospace-font-family !important;
    line-height: 1.5 !important;
    font-size: 0.75em !important;
  }
}

#extension_list {

  float: left;
  width: 100%;
  clear: both;

  ol {
    @include border_radius(em(8));

    border: 1px solid $golf_gray;
    width: 100%;
    max-height: em(200);
    overflow: scroll;
    margin: 0 0 1.5em;
        background: $white;

    a {
      cursor: pointer;
    }

    li {
      padding: 0.5em 1em;
      display: block;
    }
  }

  i {
    font-size: em($small_point_size);
  }
}
