%popper {
  position: absolute;
  left: 0;
  right: 0;
  display: block;
  z-index: 3;
  height: 0;
  background: transparentize($echo_color_golf, 0.1);
  
  
	-webkit-transition: height 0.5s ease, border-width 0.05s;
	   -moz-transition: height 0.5s ease, border-width 0.05s;
	     -o-transition: height 0.5s ease, border-width 0.05s;
	        transition: height 0.5s ease, border-width 0.05s;
	        
  &.popped {
    height: 4em;
    border-width: 1px;
  }
}

%pop_down {
  @extend %popper;
  
  top: $site-header-height;
  border-bottom: 0 solid darken($echo_color, 15%);
  box-shadow: inset 0px -1px 0px 0px transparentize(white, 0.5);
}

%pop_up {
  @extend %popper;
  
  bottom: $site-footer-height;
  border-top: 0 solid darken($echo_color, 15%);
  box-shadow: inset 0px 1px 0px 0px transparentize(white, 0.5);
}


#promo_area {
  @extend %pop_down;
}

#ad_area {
  @extend %pop_up;
}