$site-header-height: em(60);

%nav-block {
  display: block;
  float: left;
  padding: 0 em(15);
  height: $site-header-height;
  line-height: $site-header-height;
  position: relative;
  min-width: 3.5em;
  text-align: center;
  border-left: 1px solid darken($alpha_color, 5%);
  box-shadow: inset 1px 0px 0px 0px transparentize(white, 0.8);

  &:last-child {
    @extend %omega;
  }

  @media #{$mobile} {
    padding-right: em(12);
  }
}

%sub-menu {
  position: absolute;
  z-index: 9999;
  top: $site-header-height;
  right: 0;
  width: em(200);
  padding: 0.5em;
  line-height: 1.5em;
  font-family: $primary_font_family;
  font-weight: 200;
  text-shadow: 0 0 0 transparent;
  text-align: center;
  color: $white;
  background: transparentize(scale-color($alpha_color, $lightness: -80%), 0.2);

  @each $prefix in $prefix_defaults {
    #{$prefix}border-bottom-left-radius: em(3);
    #{$prefix}border-bottom-right-radius: em(3);
  }
}

%sub-menu-dropdown {
  ul {
    @extend %sub-menu;

    display: none;
  }

  &:hover {
    ul {
      display: block;
    }
  }

  li {
    width: 100%;
    display: block;
    text-align: left;
    padding: em(8);

    &:before {
      font-size: 0.75em;
      margin-right: 0.5em;
    }
  }

  a {
    text-shadow: none;
    line-height: 1;

    &:hover {
      color: white;
      background: transparent;
      text-shadow: none;

      &:after {
        display: none;
      }
    }
  }
}

%tooltip {
  @extend %sub-menu;

  content: attr(title);
}


.site_header {
  position: relative;
  height: $site-header-height;
  border-bottom: 1px solid darken($alpha_color, 10%);
  background: $alpha_color_charlie;
  color: $white;
  text-shadow: 0 0 0.33333em darken($alpha_color, 10%);

  a {
    @extend %header-button;

    &:hover {
      span {
        text-decoration: underline;
      }
    }

    &.show {
      background: scale-color($alpha_color, $lightness: 45%, $saturation: -25%);
    }
  }

  .logo {
    @extend %icon-font;

    margin-left: 1em;
    float: left;

    &:before {
      content: "\e001";
      font-size: 7.5em;
      line-height: 0.01;
    }

    &:hover {
      background: transparent;
      text-shadow: 0 0 0.33333em darken($alpha_color, 10%);

      &:after {
        display: none;
      }
    }

    @media #{$mobile} {
      left: 0.33333em;
    }
  }

  nav {
    list-style: none;
    text-align: right;
    float: right;
    position: relative;

    > a {
      @extend %nav-block;
    }

    > div {
      @extend %nav-block;
      @extend %header-button;
      @extend %sub-menu-dropdown;
    }

    .bookmark-icon {
      @media #{$mobile} {
        display: none;
      }
    }

    img {
      @include border_radius($border-radius);

      display: block;
      margin: em(10) 0;
    }

    #account_actions {
      width: auto;
      li {
        width: auto;
        min-width: em(220);
        max-width: em(360);
      }
    }
  }
}

.tagline {
  display: block;
  padding-top: 1.33333em;
  float: left;
  font-size: 1em;
  margin-left: 1em;
  font-weight: 200;

  @media screen and (max-width: 840px) {
    display: none;
  }
}

.github-login, .bookmark-icon {
  &:hover {
    &:after {
      @extend %tooltip;
      @media #{$mobile} {
        display: none;
      }
    }
  }
}


%header-button {
  color: $white;
  line-height: em(60);
  text-shadow: 0 0 5px darken($alpha_color, 10%);

  &:hover {
    background: scale-color($alpha_color, $lightness: -70%);
    text-shadow: 0 0 5px $white;
  }
}


//#toggle_html {
//  // @extend %icon-preview-hide;
//
//  &.show {
//    // @extend %icon-preview-show;
//  }
//}

