.site_header {
  position: relative;
  height: $site-header-height;
  border-bottom: 1px solid darken($alpha_color, 10%);
  background: $alpha_color_charlie;
  color: $white;
  text-shadow: 0 0 0.25em darken($alpha_color, 10%);
  font-weight: 200;

  a {
    @extend %header-button;

    &:hover {
      span {
        text-decoration: underline;
      }
    }

    &.show {
      background: scale-color($alpha_color, $lightness: 45%, $saturation: -25%);
    }
  }

  .logo {
    @extend %icon-font;

    margin-left: 1em;
    float: left;

    &:before {
      content: "\e001";
      font-size: 7.5em;
      line-height: 0.01;
    }

    &:hover {
      background: transparent;
      text-shadow: 0 0 0.25em darken($alpha_color, 10%);

      &:after {
        @extend %tooltip;

        right: initial;
        left: 0;
        width: em(260);

        @media #{$mobile} {
          display: none;
        }
      }
    }

    @media #{$mobile} {
      left: 0.33333em;
    }
  }

  nav {
    list-style: none;
    text-align: right;
    float: right;
    position: relative;

    > a {
      @extend %nav-block;
    }

    > div {
      @extend %nav-block;
      @extend %header-button;
      @extend %sub-menu-dropdown;
    }

    .bookmark-icon {
      @media #{$tablet} {
        display: none;
      }
    }

    img {
      @include border_radius($border-radius);

      display: block;
      margin: em(10) 0;
    }

    #account_actions {
      width: auto;
      li {
        width: auto;
        min-width: em(220);
        max-width: em(360);
      }
    }

    .about &, .thankyou & {
      display: none;
    }
  }
}

.tagline {
  display: block;
  line-height: $site-header-height;
  float: left;
  margin-left: 1em;

  @media screen and (max-width: 920px) {
    display: none;
  }
}

.github-login, .bookmark-icon, .site_header .control-icon {
  &:hover {
    &:after {
      @extend %tooltip;
      @media #{$mobile} {
        display: none;
      }
    }
  }
}

#cloud_actions {
  width: em(200);
  .github-login {
    line-height: 1.33334;
  }
}

//#toggle_html {
//  // @extend %icon-preview-hide;
//
//  &.show {
//    // @extend %icon-preview-show;
//  }
//}

#toggle_css, #toggle_html {
  @media #{$tablet} {
    display: none;
  }
}
