.site_footer {
  @extend %stretch;

  top: auto;
  display: block;
  height: em(30);
  z-index: 3;
  border-top: 1px solid $golf_gray;
  background: scale-color($india_gray, $lightness: 50%);

  a {
    color: $delta_gray;
  }

  p {
    @include grid(6);

    font-size: em(12);
  }

  .info {
    text-align: left
  }
  .copyright {
    text-align: right;
  }

  @media #{$mobile} {
    @include grid(12);

    margin: 0 em(18);
    text-align: left;
  }
}