%tooltip {
  position: absolute;
  z-index: 9999;
  top: em(60);
  right: 0;
  width: em(200);
  padding: 0.5em;
  line-height: 1.5em;
  content: attr(title);
  font-family: $primary_font_family;
  font-weight: 200;
  text-shadow: 0 0 0 transparent;
  text-align: center;
  color: $white;
  background: transparentize(scale-color($alpha_color, $lightness: -80%), 0.2);

  @each $prefix in $prefix_defaults {
    #{$prefix}border-bottom-left-radius: em(3);
    #{$prefix}border-bottom-right-radius: em(3);
  }
}

%header-button {
  color: $white;
  line-height: em(60);
  text-shadow: 0 0 5px darken($alpha_color, 10%);

  &:hover {
    text-shadow: 0 0 5px $white;
  }
}

.site_header {
  position: relative;
  height: em(60);
  border-bottom: 1px solid $echo_gray;
  background: $alpha_color_charlie;
  color: $white;
  text-shadow: 0 0 5px darken($alpha_color, 10%);

  a {
    @extend %header-button;

    &:hover {
      span {
        text-decoration: underline;
      }

      &:after {
        @extend %tooltip;

        @media #{$mobile} {
          display: none;
        }
      }
    }
  }

  .logo {
    @extend %icon-font;

    margin-left: 15px;
    float: left;

    &:before {
      content: "\e001";
      font-size: 7.5em;
      line-height: 0.01;
    }

    &:hover {
      text-shadow: 0 0 5px darken($alpha_color, 10%);

      &:after {
        display: none;
      }
    }

    @media #{$mobile} {
      left: 5px;
    }
  }

  .tagline {
    display: block;
    padding-top: 1.33333em;
    float: left;
    font-size: 1em;
    margin-left: 1em;
    font-weight: 200;
  }
}

.social_links {
  list-style: none;
  text-align: right;
  float: right;
  position: relative;

  > li {
    display: block;
    float:left;
    padding: 0 em(15);
    line-height: em(1);
    position: relative;
    min-width: 3.5em;
    text-align: center;

    &:last-child {
      @extend %omega;
    }

    @media #{$mobile} {
      padding-right: em(8);
    }
  }

  img {
    @include border_radius($border-radius);

    display: block;
    margin: em(10) 0;
  }

  > li {
    border-left: 1px solid darken($alpha_color, 5%);
    box-shadow: inset 1px 0px 0px 0px transparentize(white, 0.8);

    @media #{$mobile} {
      padding-right: em(12);
    }
  }
}

.github {
  > ul {
    display:none;
  }

  &:hover {
    background: scale-color($alpha_color, $lightness: -70%);

    > ul {
      display: block;
    }
  }
}

#account_actions {
  @extend %tooltip;

  right: 0;
  padding: em(8);
  text-align: left;
  width: auto;
  min-width: em(220);
  max-width: em(340);
  background: transparentize(scale-color($alpha_color, $lightness: -80%), 0.2);

  @each $prefix in $prefix_defaults {
    #{$prefix}border-top-left-radius: 0;
    #{$prefix}border-top-right-radius: 0;
  }

  > li {
    width: 100%;
    display: block;

    &:before {
      font-size: 0.75em;
      margin-right: 0.5em;
    }
  }

  a {
    text-shadow: none;
    line-height: 1;

    &:hover {
      color: white;

      &:after {
        display: none;
      }
    }
  }
}

.social_links {
  @extend .social_links;

  > li {
    @extend .github;

    > * {
      @extend %header-button;
    }
  }
}

#control_actions, #cloud_actions {
  @extend #account_actions;

  > li {
    padding: 0.5em 0;
  }
}