.ace-kuroir {
  background-color: #E8E9E8;
  color: #363636;

  .ace_gutter {
    background: #e8e8e8;
    color: #333;
  }

  .ace_print-margin {
    width: 1px;
    background: #e8e8e8;
  }

  .ace_cursor {
    color: #202020;
  }

  .ace_marker-layer .ace_selection {
    background: rgba(245, 170, 0, 0.57);
  }

  &.ace_multiselect .ace_selection.ace_start {
    box-shadow: 0 0 3px 0px #E8E9E8;
    border-radius: 2px;
  }

  .ace_marker-layer .ace_step {
    background: rgb(198, 219, 174);
  }

  .ace_marker-layer .ace_bracket {
    margin: -1px 0 0 -1px;
    border: 1px solid rgba(0, 0, 0, 0.29);
  }

  .ace_marker-layer .ace_active-line {
    background: rgba(203, 220, 47, 0.22);
  }

  .ace_gutter-active-line {
    background-color: rgba(203, 220, 47, 0.22);
  }

  .ace_marker-layer .ace_selected-word {
    border: 1px solid rgba(245, 170, 0, 0.57);
  }

  .ace_fold {
    border-color: #363636;
  }

  .ace_constant {
    color: #CD6839;
  }

  .ace_constant.ace_numeric {
    color: #9A5925;
  }

  .ace_support {
    color: #104E8B;
  }

  .ace_support.ace_function {
    color: #005273;
  }

  .ace_support.ace_constant {
    color: #CF6A4C;
  }

  .ace_storage {
    color: #A52A2A;
  }

  .ace_invalid.ace_illegal {
    color: #FD1224;
    background-color: rgba(255, 6, 0, 0.15);
  }

  .ace_invalid.ace_deprecated {
    text-decoration: underline;
    font-style: italic;
    color: #FD1732;
    background-color: #E8E9E8;
  }

  .ace_string {
    color: #639300;
  }

  .ace_string.ace_regexp {
    color: #417E00;
    background-color: #C9D4BE;
  }

  .ace_comment {
    color: rgba(148, 148, 148, 0.91);
    background-color: rgba(220, 220, 220, 0.56);
  }

  .ace_variable {
    color: #009ACD;
  }

  .ace_meta.ace_tag {
    color: #005273;
  }

  .ace_markup.ace_heading {
    color: #B8012D;
    background-color: rgba(191, 97, 51, 0.051);
  }

  .ace_markup.ace_list {
    color: #8F5B26;
  }
}