.ace-tomorrow-night-eighties {
  background-color: #2D2D2D;
  color: #cccccc;

  .ace_gutter {
    background: #272727;
    color: #cccccc;
  }

  .ace_print-margin {
    width: 1px;
    background: #272727;
  }

  .ace_constant.ace_other {
    color: #cccccc;
  }

  .ace_cursor {
    border-left: 2px solid #cccccc;
  }

  .ace_overwrite-cursors .ace_cursor {
    border-left: 0px;
    border-bottom: 1px solid #cccccc;
  }

  .ace_marker-layer .ace_selection {
    background: #515151;
  }

  &.ace_multiselect .ace_selection.ace_start {
    box-shadow: 0 0 3px 0px #2D2D2D;
    border-radius: 2px;
  }

  .ace_marker-layer .ace_step {
    background: rgb(102, 82, 0);
  }

  .ace_marker-layer .ace_bracket {
    margin: -1px 0 0 -1px;
    border: 1px solid #6a6a6a;
  }

  .ace-tomorrow-night-bright .ace_stack {
    background: rgb(66, 90, 44);
  }

  .ace_marker-layer .ace_active-line {
    background: #393939;
  }

  .ace_gutter-active-line {
    background-color: #393939;
  }

  .ace_marker-layer .ace_selected-word {
    border: 1px solid #515151;
  }

  .ace_invisible {
    color: #6a6a6a;
  }

  .ace_keyword,
  .ace_meta,
  .ace_storage,
  .ace_storage.ace_type,
  .ace_support.ace_type {
    color: #cc99cc;
  }

  .ace_keyword.ace_operator {
    color: #66cccc;
  }

  .ace_constant.ace_character,
  .ace_constant.ace_language,
  .ace_constant.ace_numeric,
  .ace_keyword.ace_other.ace_unit,
  .ace_support.ace_constant,
  .ace_variable.ace_parameter {
    color: #f99157;
  }

  .ace_invalid {
    color: #CDCDCD;
    background-color: #f2777a;
  }

  .ace_invalid.ace_deprecated {
    color: #CDCDCD;
    background-color: #cc99cc;
  }

  .ace_fold {
    background-color: #6699CC;
    border-color: #cccccc;
  }

  .ace_entity.ace_name.ace_function,
  .ace_support.ace_function,
  .ace_variable {
    color: #6699cc;
  }

  .ace_support.ace_class,
  .ace_support.ace_type {
    color: #ffcc66;
  }

  .ace_heading,
  .ace_string {
    color: #99cc99;
  }

  .ace_comment {
    color: #999999;
  }

  .ace_entity.ace_name.ace_tag,
  .ace_entity.ace_other.ace_attribute-name,
  .ace_meta.ace_tag,
  .ace_variable {
    color: #f2777a;
  }

  .ace_indent-guide {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWPQ09NrYAgMjP4PAAtGAwchHMyAAAAAAElFTkSuQmCC") right repeat-y;
  }
}