site-header

main(class='{{preferences.orientation}}')
  .editors(ng-class='{html: preferences.htmlVisible}')
    resizable#sassResizable(r-directions='{{editorOrientation()}}' r-flex='true' r-width='preferences.sassResizable.width' r-height='preferences.sassResizable.height')
      h2.editor-header {{app.displayCompiler}}

      .editor-wrapper(ng-controller='AceSassController')
        ui-ace(ng-model='app.sass' ng-model-options='{ debounce: 750 }' ng-change='compile(app)' ui-ace='{onLoad: aceLoaded}')

    resizable#cssResizable(r-directions='{{preferences.htmlVisible ? editorOrientation() : null }}' r-flex='true' r-width='preferences.cssResizable.width' r-height='preferences.cssResizable.height' ng-show='preferences.cssVisible')
      h2.editor-header CSS
        span.autoprefixer(ng-if='preferences.autoprefixer')

      .editor-wrapper(ng-controller='AceCssController')
        ui-ace(ng-model='app.css' ui-ace='{onLoad: aceLoaded, mode: \'css\'}' readonly)

    div(ng-show='preferences.htmlVisible')
      h2.editor-header HTML

      .editor-wrapper(ng-controller='AceHtmlController')
        ui-ace(ng-model='app.html' ng-model-options='{ debounce: 750 }' ng-change='renderHtml(app)' ui-ace='{onLoad: aceLoaded}')


  resizable#sandboxResizable(r-directions='{{sandboxOrientation()}}' r-flex='true' r-width='preferences.sandboxResizable.width' r-height='preferences.sandboxResizable.height' ng-show='preferences.htmlVisible')
    iframe#sandbox(sandbox='allow-scripts allow-same-origin' ng-src='{{sandbox}}')

    #resizable-mask(hidden)

toast
